<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER - TITLE -->
                <div class="detailsheader">
                    <h1> Add Patron</h1>
                </div>
                
                <!-- BODY - DETAILS -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-body">
                          <form>
                            
                              
                            <div class="row">
                              <div class="col-md-15">
                                <label for="title">Patron Type</label>
                                <select class="form-control2" id="language" name="language" required>
                                  <option value="English"> Admin/Staff  </option>
                                  <option value="Tagalog"> Faculty </option>
                                  <option value="Tagalog"> Student </option>
                              </select>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <label for="author">Fines Overdue</label>
                                <input type="text" class="form-control" placeholder="[Price Here]">
                                </div>
                              </div>
                              <div class="row">
                              <div class="col-md-6">
                                <label for="location">Days or hours</label>
                                <input type="text" class="form-control" placeholder="Days">
                              </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <label for="location">No. of days/hours allowed</label>
                                  <input type="text" class="form-control1" value="10 " readonly>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                      <label for="location">No. of materials allowed    </label>
                                      <input type="text" class="form-control1"value="3" readonly>
                                    </div>
                                    </div>
                            
                          </form>
                        </div>
                        <div class="button-container">
                            <button  class="add-btn">Add</button>
                            <button  (click)="closepopup()" class="cancel-btn">Cancel</button>
                           
                            
                          </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>