<div class="main-content">

    
    <div class="sidebar-content">
        <div class="container-header">
            <h1>
                CATALOGING


            </h1>
            
        </div>

        <div class="page-content">
            <div class="tabbed">
                <input type="radio" id="tab1" name="css-tabs" checked="checked">
                <input type="radio" id="tab2" name="css-tabs" >
                <input type="radio" id="tab3" name="css-tabs" >
                
                <ul class="tabs">
                    <li class="tab"><label for="tab1">Materials</label></li>
                    <li class="tab"><label for="tab2">Academic Project</label></li>
                </ul>
            

        <div class="tab-content">
                <div class="materialcontainer">
                        <!-- button -->
                        <div class="row">
                            <div class="rowbuttons">
                            <div class="col-md-5">
                                
                                    <div class="col-md-4">
                                        <button class="btn btn-block btn-icon" [routerLink]="['books']" routerLinkActive="active" checked>Books</button>
                                    </div>                                    
                                    <div class="col-md-4">
                                        <button class="btn btn-block btn-icon" [routerLink]="['article']" routerLinkActive="active"> Article</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-block btn-icon" [routerLink]="['periodical']" routerLinkActive="active"> Periodical</button>
                                    </div>
                                </div>
                           
                            <div class="col-md-7">
                                <!-- Search bar-->
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </div>
                            </div>
                            
                        </div>
                        </div>

                       
        </div>
        
        <div class="tab-content">
            <div class="academiccontainer">
                <div class="row1">
                    <div class="col-md-5">
                        <div class="row buttons">
                            <div class="col-md-4">
                                <button class="btn btn-block btn-icon" [routerLink]="['ccs']" routerLinkActive="active"> CCS</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-block btn-icon" [routerLink]="['cba']" routerLinkActive="active"> CBA</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-block btn-icon" [routerLink]="['cahs']" routerLinkActive="active"> CAHS</button>
                            <div class="col-md-4">
                                <button class="btn btn-block btn-icon" [routerLink]="['chtm']" routerLinkActive="active"> CHTM</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-block btn-icon" [routerLink]="['ceas']" routerLinkActive="active"> CEAS</button>
                            </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="col-md-7">
                        <!-- Search bar-->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>
                </div>
                </div>
            </div>
            
            </div>
            <div>
                <router-outlet></router-outlet>
            </div>
    </div>
</div>
</div>