<div class="main-content">

    
    <div class="sidebar-content">
        <div class="container-header">
            <h1>
                CATALOGING


            </h1>
            
        </div>

        <div class="page-content">
            <div class="tabbed">
                <input type="radio" id="tab1" name="css-tabs" checked="checked">
                <input type="radio" id="tab2" name="css-tabs">
                
                <ul class="tabs">
                    <li class="tab" ><label for="tab1" >Materials</label></li>
                    <li class="tab"><label for="tab2">Academic Project</label></li>
                </ul>
            

        <div class="tab-content">
                <div class="materialcontainer">
                        <!-- button -->
                        <div class="row">
                            <div class="rowbuttons">
                            <div class="col-md-5">
                                
                                    <div class="col-md-4">
                                        <button class="btn btn-block btn-icon" [routerLink]="['books']" routerLinkActive="active">Books</button>
                                    </div>                                    
                                    <div class="col-md-4">
                                        <button class="btn btn-block btn-icon" [routerLink]="['article']"routerLinkActive="router-link-active"> Article</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-block btn-icon" [routerLink]="['periodical']"routerLinkActive="router-link-active"> Periodical</button>
                                    </div>
                                </div>
                           
                            <div class="col-md-7">
                                <!-- Search bar-->
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </div>
                            </div>
                            
                        </div>
                        
                        
                        </div>
                        

                       
        </div>
        
        <div class="tab-content">
            <div class="academiccontainer">
                <div class="row1">
                    <div class="col-md-5">
                        <div class="row buttons">
                            <div class="col-md-4">
                           <!----     <button class="btn btn-block btn-icon" [routerLink]="['ccs']" routerLinkActive="active"> CCS</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-block btn-icon" [routerLink]="['cba']" routerLinkActive="router-link-active"> CBA</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-block btn-icon" [routerLink]="['cahs']" routerLinkActive="router-link-active"> CAHS</button>
                            <div class="col-md-4">
                                <button class="btn btn-block btn-icon" [routerLink]="['chtm']" routerLinkActive="router-link-active"> CHTM</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-block btn-icon" [routerLink]="['ceas']" routerLinkActive="router-link-active"> CEAS</button>
                            </div>
                            </div> -->
                           
                            <div class="detailsheader">
                                <div class="txt_field">
                                    <select class="inputtxt" id="language" name="language" required>
                                        <option value="ccs"> ALL COLLEGES </option>
                                        <option value="ccs"> CCS </option>
                                        <option value="cba"> CBA </option>
                                        <option value="cahs"> CAHS </option>
                                        <option value="chtm"> CHTM </option>
                                        <option value="ceas"> CEAS </option>
                                    </select>

                                    <div class="txt_field">
                                        <select class="inputtxt" id="language" name="language" required>
                                            <option value="English"> CAHS </option>
                                            <option value="Tagalog"> BSH </option>
                                            <option value="Tagalog"> BSM </option>
                                            <option value="Tagalog"> BSRT </option>
                                            <option value="Tagalog"> BMLS </option>
                                        </select>

                        </div>
                       
                    </div>
                    <div class="col-md-7">
                        <!-- Search bar-->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>
                </div>
                </div>
            </div>
            
            </div>
           
           
    </div>
</div>

</div>

<div class="connection">
    <router-outlet></router-outlet> 
</div>