.container-header{
    background-color: #31A463;
    color: white;
    border-radius: 10px;
    margin-right: 25px;
    margin-top: 25px;
    padding: 10px;
    max-width: 1655px;
}

.mat-tab-group {
    background-color: green;
    color: white; 
  }
  

  .search-bar{
    background-color: white;
    border-radius: 10px;
    border: 1px;
    padding: 10px;
    padding-right: 0px;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 100px;
    float: right;
    font-weight: bold;
    color: black;
    margin-top: 5px;
}   
    