<div class="main-content">

    
    <div class="sidebar-content">
        <div class="container-header">
            <h1>
                Circulation
        

                <div class="container-UploadButton">
                    <button>Upload</button>
                </div>
            </h1>
            

        </div>
 
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Patron Type</th>
                        <th>Fines if Overdue</th>
                        <th>No. of days Allowed</th>
                        <th>No. of Hours Allowed</th>
                        <th>No. of Materials Allowed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Admin</td>
                        <td>15</td>
                        <td>3</td>
                        <td>43</td>
                        <td>51</td>
                        <td>
                            <button class="edit-btn">Edit</button>
                            <button class="delete-btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Student</td>
                        <td>100</td>
                        <td>7</td>
                        <td>9</td>
                        <td>3</td>
                        <td>
                            <button class="edit-btn">Edit</button>
                            <button class="delete-btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Staff</td>
                        <td>50</td>
                        <td>15</td>
                        <td>11</td>
                        <td>20</td>
                        <td>
                            <button class="edit-btn">Edit</button>
                            <button class="delete-btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Faculty</td>
                        <td>25</td>
                        <td>31</td>
                        <td>15</td>
                        <td>30</td>
                        <td>
                            <button class="edit-btn">Edit</button>
                            <button class="delete-btn">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>