//CONTAINER

.main-content {
    margin: 10px 40px 10px 10px;
}

//HEADER

.container-header {
  //  background-color: #376448;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-right: 25px;
    margin-top: 25px;
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.container-historylogsButton {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    border: 1px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    margin-right: 10px;
    float: right;
    text-align: center;
    


}

.container-onhistorylogsBtnClick:hover {
    background-color: green($color: #000000);
    color: rgb(46, 44, 44);
}

h2 {
    text-align: left;
    margin-left: -19px;
    margin-top: -35px;
    margin-bottom: 10px;
    font-size: 34px;
    color: #000000;
    //opacity: 70%;
}

//BODY

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-right: 1000px;
    background-color: #ffffff;
}

//TABLE

.container {
    padding: 0px 0px 10px 0px;
    background-color: #ffffff;
    border-radius: 0px;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: -10;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #31A463;
    font-weight: bold;
    color: #ddd;
}

//BUTTON

.edit-btn {
    padding: 5px 17px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: #31A463;
    color: #fff;
    border-radius: 3px;
}

.edit-btn:hover {
    background-color: #376448;
}


// .container-UploadButton {
//     background-color: white;
//     color: black;
//     border-radius: 10px;
//     border: 1px;
//     padding: 10px;
//     padding-right: 25px;
//     padding-left: 25px;
//     margin-right: 10px;
//     float: right;
//     font-weight: bold;
//     max-width: 800px;
//     text-align: center;
// }

// .upload-btn:hover {
//     background-color: #218838;
// }