.container-UploadButton{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    padding-right: 30px;
    margin-right: 8px;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    max-width: 500px;
    text-align: center;
    
    

}
  

.container-header{
    background-color: #31A463;
    color: white;
    border-radius: 10px;
    padding: 5px;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-right: 1000px;
    background-color: #EEEEEE;
}

.container {
    max-width: 1610px;
    margin: 20px;
    padding: 20px;
    background-color: #EEEEEE;
    border-radius: 0px;

}

h1 {
    text-align: left;
}

table {
    width: 100%;
    border-collapse:collapse;
    margin-top: 20px;
    margin-left: -10;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.edit-btn {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: #31A463;
    color: #fff;
    border-radius: 3px;
}

.delete-btn{

    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: #AB0E0E;
    color: #fff;
    border-radius: 3px;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: #0056b3;
}

.upload-btn:hover {
    background-color: #218838;
}
