.container-UploadButton{
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 10px;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    max-width: 800px;
    text-align: center;
}
  

.container-header{
    background-color: #31A463;
    color: white;
    border-radius: 10px;
    margin-right: 25px;
    margin-top: 25px;
    padding: 10px;
    max-width: 1655px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-right: 1000px;
    background-color: #ffffff;
}

.container {
    max-width: 1610px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0px;

}

h1 {
    text-align: left;
    margin-left: 10px;
}

table {
    width: 100%;
    border-collapse:collapse;
    margin-top: 20px;
    margin-left: -10;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #ffffff;
    font-weight: bold;
}

.edit-btn {
    padding: 5px 17px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: #31A463;
    color: #fff;
    border-radius: 3px;
}

.archive-btn{

    padding: 5px 17px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: #AB0E0E;
    color: #fff;
    border-radius: 3px;
}

.edit-btn:hover {
    background-color: #298f55;
}

.upload-btn:hover {
    background-color: #218838;
}

