/* CONTAINER */
/* CONTAINER */
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.details-content {
  width: 600px;
  position: relative;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
  max-height: 600px;
  overflow-y: auto;
}

.details {
    font-size:large;
    display: inline-block;
}

// SCROLLBAR 
.details-content::-webkit-scrollbar {
  width: 7px;
}

.details-content::-webkit-scrollbar-thumb {
  background-color: var(--table-border);
  border-radius: 5px;
}

.details-content::-webkit-scrollbar-track {
  background-color: var(--primary-color); 
  margin-top: 90px;
  margin-bottom: 10px;
}

.details-content::-webkit-scrollbar-thumb:hover {
  background-color: var(--table-border2);
}
// SCROLLBAR
.detailsinfo1{
    display: flex;
}

.detailsbody {
  height: auto; /* Adjust the height as needed */
  justify-content: center; 
}

.detailscontent1{
    width: 575px;
    display: inline-block;
}
.contentdetails{
  margin-top: 10px;
  margin-left: 5px;
  display: block;
  background-color: #f3f3f3; 
  border-radius: 6px;
}
.contentdetails h2{
  font-size: 40px;
  width: 500px;
  margin-bottom: 20px;
}
.detailscontent1 p {
  display: center;
  font-weight: 600;
  align-items: center;
  font-size: 16px;
  text-align: center;
  padding: 10px;
 

}


.details {
  padding: 80px 10px 10px 10px;
  // display: inline-flex;  
}

.details img{
  margin-top: 40px;
  margin-bottom: 10px;
    margin-left: 140px;
    max-height: 300px;
    
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.2117647059);
}

// POPUP HEADER SCSS
.detailsheader {
  padding: 20px 10px 20px;
  position: fixed;
  width: 600px;
  background-color: var(--main-green);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 1;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.192);

}

/* EXIT BUTTON */
.exit-button {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: var(--primary-color);
  float: right;
  top: -5px;
  right: -30px;
}

.exit-button:hover {
  color: var(--secondary-color);
}

h1 {
  color: var(--primary-color);
  padding-top: 5px;
  width: 550px;
  font-weight: 700;
  font-size: 25px;
  text-align: left;
}

.button-container {
    margin-top: 20px;
}

button {
    font-family: 'Montserrat';
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
        border: none;
        border-radius: 5px;
    font-weight: 400;
    width: 100px;
    letter-spacing: 1.5px;
    margin: 10px;
}

#course{
  margin-left: 30px;
padding-top: 50px;
width: 500px;
text-align: left;
word-spacing: normal;
font-size: 16px;
    font-weight: bolder;
    line-height: 50px;
    
}