<div class="detailsheader">
    <div class="txt_field">
        <select class="inputtxt" id="language" name="language" required>
            <option value="English"> CHTM </option>
            <option value="Tagalog"> BSIT </option>
            <option value="Tagalog"> BSCS </option>
            <option value="Tagalog"> BSEMC </option>
            <option value="Tagalog"> ACT </option>
        </select>
    
            <button class = "add-btn"><i class="fa-solid fa-add"> </i></button>
    </div>
    
    </div>

<div class="card-container">
    <div class="card"> 
        <img src= "/assets/images/GCLIBRARY.png">
        <div class="textbox">
        <!-- replace nalang to si h2 tsaka si p kasi static lang -->
        <h2>chtm</h2>
        <p>Jose Rizal</p>
        <p>Fil</p>
    </div>
    <div class="card-buttons">
        <!-- <button class = "edit-btn"><i class="fa-solid fa-edit"> </i></button>
        <button class = "archive-btn"><i class="fa-solid fa-archive"> </i></button> -->
        <button class="view-button" type="button" (click)="onAddNewBtnClick()">View</button>
    </div>
    </div>
    </div>

     <div class="card-container">
    <div class="card"> 
        <img src= "/assets/images/GCLIBRARY.png">
        <div class="textbox">
            <!-- replace nalang to si h2 tsaka si p kasi static lang -->
            <h2>Pwede mag civilian anytime hahahahahahahahghahaha</h2>
            <p>GC Uniform Condition</p>
            <p>4/26/2024</p>
            </div>

            <div class="card-buttons">
                <!-- <button class = "edit-btn"><i class="fa-solid fa-edit"> </i></button>
                <button class = "archive-btn"><i class="fa-solid fa-archive"> </i></button> -->
                <button class="view-button" type="button" (click)="onAddNewBtnClick()">View</button>
            </div>
    </div>
    </div>

    <div class="card-container">
        <div class="card"> 
            <img src= "/assets/images/GCLIBRARY.png">
            <div class="textbox">
                <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                <h2>Asynchronous Classes</h2>
                <p>Extreme Heat Conditon</p>
                <p>4/26/2024</p>
                </div>
                <div class="card-buttons">
                    <!-- <button class = "edit-btn"><i class="fa-solid fa-edit"> </i></button>
                    <button class = "archive-btn"><i class="fa-solid fa-archive"> </i></button> -->
                    <button class="view-button" type="button" (click)="onAddNewBtnClick()">View</button>
                </div>
        </div>
        </div>
        <div class="card-container">
            <div class="card"> 
                <img src= "/assets/images/GC.png">
                <div class="textbox">
                    <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                    <h2>Daily Rewards</h2>
                    <p>pang bilyar</p>
                    <p>4/26/2024</p>
                    </div>

                    <div class="card-buttons">
                        <!-- <button class = "edit-btn"><i class="fa-solid fa-edit"> </i></button>
                        <button class = "archive-btn"><i class="fa-solid fa-archive"> </i></button> -->
                        <button class="view-button" type="button" (click)="onAddNewBtnClick()">View</button>
                    </div>
            </div>
            </div>
            <div class="card-container">
                <div class="card"> 
                    <img src= "/assets/images/LOGIN-PHOTO.png">
                    <div class="textbox">
                        <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                        <h2>Daily Quest</h2>
                        <p>Lait dito lait don</p>
                        <p>4/26/2024</p>
                        </div>
                        <div class="card-buttons">
                            <!-- <button class = "edit-btn"><i class="fa-solid fa-edit"> </i></button>
                            <button class = "archive-btn"><i class="fa-solid fa-archive"> </i></button> -->
                            <button class="view-button" type="button" (click)="onAddNewBtnClick()">View</button>
                        </div>
                </div>
                </div>
                <div class="card-container">
                    <div class="card"> 
                        <img src= "/assets/images/GC-BUILDING.png">
                        <div class="textbox">
                            <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                            <h2>Punta school para sa baon</h2>
                            <p>Claim lang daily</p>
                            <p>4/26/2024</p>
                            </div>
                            <div class="card-buttons">
                                <!-- <button class = "edit-btn"><i class="fa-solid fa-edit"> </i></button>
                                <button class = "archive-btn"><i class="fa-solid fa-archive"> </i></button> -->
                                <button class="view-button" type="button" (click)="onAddNewBtnClick()">View</button>
                            </div>
                    </div>
                    </div>
                    <div class="card-container">
                        <div class="card"> 
                            <img src= "/assets/images/GCLIBRARY.png">
                            <div class="textbox">
                                <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                                <h2>Online class pero nasa school</h2>
                                <p>Ma penge baon</p>
                                <p>4/26/2024</p>
                                </div>
                                <div class="card-buttons">
                                    <!-- <button class = "edit-btn"><i class="fa-solid fa-edit"> </i></button>
                                    <button class = "archive-btn"><i class="fa-solid fa-archive"> </i></button> -->
                                    <button class="view-button" type="button" (click)="onAddNewBtnClick()">View</button>
                                </div>
                        </div>
                        </div>
                        <div class="card-container">
                            <div class="card"> 
                                <img src= "/assets/images/GCLIBRARY.png">
                                <div class="textbox">
                                    <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                                    <h2>Title</h2>
                                    <p>Category</p>
                                    <p>Date</p>
                                    </div>
                                    <div class="card-buttons">
                                        <!-- <button class = "edit-btn"><i class="fa-solid fa-edit"> </i></button>
                                        <button class = "archive-btn"><i class="fa-solid fa-archive"> </i></button> -->
                                        <button class="view-button" type="button" (click)="onAddNewBtnClick()">View</button>
                                    </div>
                            </div>
                            </div>

<div class="AddNewButton">
    
</div>