<div class="main-content">

    
    <div class="sidebar-content">
        <div class="container-header">
            <h1>
                ANNOUNCEMENT
                
                    <button class="container-UploadButton" (click)="onUploadBtnClick()">Upload</button>

            </h1>
            

        </div>
 
        <div class="card-container">
            <div class="card"> 
                <img [src]= >
                <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                <p>Title</p>
                <h2>Description</h2>
                <p>Date</p>
            </div>
            </div>

             <div class="card-container">
            <div class="card"> 
                <img src= "">
                <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                <p>Title</p>
                <h2>Description</h2>
                <p>Date</p>
            </div>
            </div>

            <div class="card-container">
                <div class="card"> 
                    <img src= "">
                    <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                    <p>Title</p>
                    <h2>Description</h2>
                    <p>Date</p>
                </div>
                </div>
                <div class="card-container">
                    <div class="card"> 
                        <img src= "/assets/images/GC.png">
                        <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                        <p>Title</p>
                        <h2>Description</h2>
                        <p>Date</p>
                    </div>
                    </div>
                    <div class="card-container">
                        <div class="card"> 
                            <img src= "/assets/images/LOGIN-PHOTO.png">
                            <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                            <p>Title of a test card</p>
                            <h2>Description but longer</h2>
                            <p>4/25/2024</p>
                        </div>
                        </div>
                        <div class="card-container">
                            <div class="card"> 
                                <img src= "/assets/images/GC-BUILDING.png">
                                <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                                <p>Title</p>
                                <h2>Description</h2>
                                <p>Datet</p>
                            </div>
                            </div>
                            <div class="card-container">
                                <div class="card"> 
                                    <img src= "">
                                    <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                                    <p>Title</p>
                                    <h2>Description</h2>
                                    <p>Date</p>
                                </div>
                                </div>
                                <div class="card-container">
                                    <div class="card"> 
                                        <img src= "">
                                        <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                                        <p>Title</p>
                                        <h2>Description</h2>
                                        <p>Date</p>
                                    </div>
                                    </div>

        <div class="AddNewButton">
            
        </div>
</div>

