<div class="main-content">
    <div class="sidebar-content">
      <div class="container-header">
        <h3>
          ANNOUNCEMENT
        </h3>
        <h1>
          <button class="container-UploadButton" (click)="onAddNewBtnClick()">Add New</button>
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="loading"  *ngIf="isLoading">
        <app-loading></app-loading>
     </div>

      <div class="card-container" *ngFor="let announcement of paginatedAnnouncements()" >
        <div class="card" *ngIf="!isLoading">
          <div class="dot1"></div>
          <div class="dot2"></div>
          <div class="dot3"></div>
          <div class="dot4"></div>
          <div class="dot5"></div>
          <div class="dot6"></div>
          <div class="dot7"></div>
          <div class="dot8"></div>
          <div class="dot9"></div>
          <img [src]="announcement.image_url ? announcement.image_url : 'assets/images/GCLIBRARY.png'">
          <div class="textbox">
            <h2>{{announcement.title}}</h2>
            <p>{{announcement.created_at | date:'MM/dd/yyyy' }}</p>
            <p>{{announcement.text}}</p>
          </div>
          <div class="card-buttons">
            <button class="edit-btn" type="button" (click)="onEditBtnClick(announcement.id)">
              <i class="bx bx-edit"></i>
            </button>
            <button class="archive-btn" type="button" (click)="onArchiveBtnClick(announcement.id)">
              <i class="fa-regular fa-trash-can"></i>
            </button>
          </div>
        </div>
      </div>
  
      <!-- Pagination -->
      <div class="pagination">
        <p>Items per page: {{ paginatedAnnouncements().length }}</p>
        <p>{{ getPaginationSummary() }}</p>
        <i class="fas fa-chevron-left kaliwa" (click)="currentPage > 1 ? previousPage() : null"></i>
        <i class="fas fa-chevron-right" (click)="nextPage()" [hidden]="currentPage === totalPages"></i>
      </div>
    </div>
  </div>
  