<div class="main-content">

   
    <div class="sidebar-content">
        <div class="container-header">
            <h1>
                INVENTORY
                
                    <button class="container-addUserButton1" type="button" (click)="onClrHistoryBtnClick()"> Clear History</button>
                    <!-- <button class="container-addUserButton2" type="button" (click)="onAddNewBtnClick()">Scan Barcode</button> -->
                    <!-- <button class="container-addUserButton3" type="button" (click)="onAddNewBtnClick1()">Scan Barcode</button> -->
                    <input class="search-bar" type="text" placeholder="Enter Barcode" [(ngModel)]="search" (keyup)="checkSearchInput()" (keyup.enter)="onSearch()">  
            </h1>
            
        </div>
        <div class="detailsheader">
            <div class="txt_field">
                <select class="inputtxt" id="language" name="language" (change)="onFilterChange($event)" required>
                    <!-- <option value="English"> All  </option> -->
                    <option value="available"> Available </option>
                    <option value="unreturned"> Unreturned </option>
                    <option value="missing"> Missing </option>
                    <option value="unlabeled"> Unlabeled </option>
                    <option value="damaged"> Damaged </option>
                </select>
            
            </div>
            </div>
        <!-- <h2>
            LIST
            <div class="dropdown">
                <button class="dropbtn"> <i class="fa fa-chevron-down"> </i> </button>
                <div class="dropdown-content">
                  <a href="#">Item 1</a>
                  <a href="#">Item 2</a>
                  <a href="#">Item 3</a>
                </div>
              </div>
        </h2> -->
        

        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Accession</th>
                        <th>Location</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <!-- *ngIf="paginatedInventories().length > 0; else noItems" -->
                    <tbody>
                        <tr *ngFor="let inventory of paginatedInventories()">
                            <td>{{inventory.id}}</td>
                            <td>{{inventory.location.location}}</td>
                            <td>{{inventory.title}}</td>
                            <td>
                                <div *ngFor="let author of inventory.authors; let last = last">
                                    <p>{{ author }} <span *ngIf="!last">,</span></p>
                                </div>
                            <td>
                                <div class="dropdown">
                                    <select class="inputtxt"  value="{{inventory.status}}" (change)="onStatusChange($event, inventory.id)"required>
                                        <option value="available"> Available </option>
                                        <option value="unreturned"> Unreturned </option>
                                        <option value="missing"> Missing </option>
                                        <option value="unlabeled"> Unlabeled </option>
                                        <option value="damaged"> Damaged </option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                <!-- <ng-template #noItems>
                    <tbody>ala nga</tbody>
                </ng-template> -->
            </table>
             <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <span>{{ currentPage }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
      </div>
        </div>
</div>

