<div class="main-content">

   
    <div class="sidebar-content">
        <div class="container-header">
            <h1>
                INVENTORY
                
                    <button class="container-addUserButton1" type="button" (click)="onClrHistoryBtnClick()"> Clear History</button>
                    <button class="container-addUserButton2" type="button" (click)="onAddNewBtnClick()">Scan Barcode</button>
                    <button class="container-addUserButton3" type="button" (click)="onAddNewBtnClick1()">Enter Barcode</button>
            </h1>
            
        </div>
        <div class="detailsheader">
            <div class="txt_field">
                <select class="inputtxt" id="language" name="language" required>
                    <option value="English"> Filter </option>
                    <option value="English"> All Location </option>
                    <option value="Tagalog"> FIL </option>
                    <option value="Tagalog"> FOR </option>
                    <option value="Tagalog"> MED </option>
                </select>
            
            </div>
            </div>
        <!-- <h2>
            LIST
            <div class="dropdown">
                <button class="dropbtn"> <i class="fa fa-chevron-down"> </i> </button>
                <div class="dropdown-content">
                  <a href="#">Item 1</a>
                  <a href="#">Item 2</a>
                  <a href="#">Item 3</a>
                </div>
              </div>
        </h2> -->
        

        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Accession</th>
                        <th>Location</th>
                        <th>Title</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1001</td>
                        <td>BEP</td>
                        <td>Noli Me Tangere</td>
                        <td>Jose Rizal</td>
                    </tr>
                    
                    <tr>
                        <td>1002</td>
                        <td>IT</td>
                        <td>Noli Me Tangere</td>
                        <td>Jose Rizal</td>
                    </tr>

                    <tr>
                        <td>1003</td>
                        <td>MED</td>
                        <td>Noli Me Tangere</td>
                        <td>Jose Rizal</td>
                    </tr>
                    <tr>
                        <td>1004</td>
                        <td>COMM</td>
                        <td>Noli Me Tangere</td>
                        <td>Jose Rizal</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>

