<div class="main-content">

   
    <div class="sidebar-content">
        <div class="container-header">
            <h1>
                INVENTORY
                
                    <button class="container-addUserButton1">Enter Barcode</button>
                    <button class="container-addUserButton2">Scan Barcode</button>
                    <button class="container-addUserButton3">Clear History</button>
            </h1>
            
        </div>
        <h2>
            LIST
        </h2>

        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Accession</th>
                        <th>Location</th>
                        <th>Title</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1001</td>
                        <td>BEP</td>
                        <td>Pano to?</td>
                        <td>Pano ka?</td>
                    </tr>
                    
                    <tr>
                        <td>1002</td>
                        <td>IT</td>
                        <td>Pano yan?</td>
                        <td>Pano kame?</td>
                    </tr>

                    <tr>
                        <td>1003</td>
                        <td>MED</td>
                        <td>Pano ba??</td>
                        <td>Pano ba kase?</td>
                    </tr>
                    <tr>
                        <td>1004</td>
                        <td>COMM</td>
                        <td>Basta No?</td>
                        <td>Basta nga</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>

