/* CONTAINER */
.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .details-content {
    width: 900px;
    position: relative;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
    max-height: 600px;
    overflow-y: auto;
  }
  
  // SCROLLBAR 
  .details-content::-webkit-scrollbar {
    width: 7px;
  }
  
  .details-content::-webkit-scrollbar-thumb {
    background-color: var(--table-border);
    border-radius: 5px;
  }
  
  .details-content::-webkit-scrollbar-track {
    background-color: var(--primary-color); 
    margin-top: 90px;
    margin-bottom: 10px;
  }
  
  .details-content::-webkit-scrollbar-thumb:hover {
    background-color: var(--table-border2);
  }
  //BODY
  
  .detailsbody {
    height: auto; /* Adjust the height as needed */
    justify-content: center; 
  }
  
  .details {
    padding: 100px 50px 30px 55px;
    padding-bottom: 10px;
  }
  
  // POPUP HEADER SCSS
  .detailsheader {
    display: flex;
    padding: 20px 30px 30px;
    position: fixed;
    width: 900px;
    background-color: var(--main-green);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.192);
    padding-bottom: 15px;
  }
  .txtheader {
    margin-top: -30px;
    margin-bottom: -27px;
  }
  
  /* EXIT BUTTON */
  .exit-button {
    position: relative;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: var(--primary-color);
  }
  
  .exit-button:hover {
    color: var(--secondary-color);
  }
  
  h1 {
    color: var(--primary-color);
    padding-top: 5px;
    width: 880px;
    font-weight: 700;
    font-size: 25px;
    text-align: left;
  }
    
.button-container {

  display: flex;
  justify-content:center;
  // position:relative;
  // margin-left: 5px;
  margin-top: -50px;
  padding-bottom: 20px;
  align-items: center;
}
    
    button {
      font-family: 'Montserrat';
      padding: 10px 20px;
      margin: 0 10px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      font-weight: 400;
      width: 100px;
      letter-spacing: 1.5px;
      margin: 10px;
    }
    
    .cancel-btn {
      background-color: #AB0E0E;
      color: white;
      float: right;
      margin-top: 120px;
      
    }
    
    .cancel-btn:hover {
      background-color: gray;
    }
    
    .update-btn {
     
      background-color: #4f6f52;
      color: white;
      float: right;
      margin-top: 120px;
      
    
    }
    
    .update-btn:hover {
      background-color: gray;
    }

    
    .update-btn:disabled {
      background-color: gray;
    }

    form {
      height: 350px;
    }
  
    // pop up design
    form .txt_field1{
      position: relative;
    //  border-bottom: 2px solid #777777;
      margin: 30px 10px 30px 10px;
      width: 300px;
   //   display: block;
    }
    
    
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

// .input-row .txt_field {
//   flex-basis: 100%;
// }
    .txt_field1 .labelline1{
      position: absolute;
      top: 50%;
      left: 10px;
      color: #777777;
      transform: translateY(-50%);
      font-size: 15px;
      pointer-events: none;
      transition: .3s;
    
    }
    
    
    .txt_field1 .inputtxt1{
      width: 100%;
      display: block;
      padding-top: 19px;
      padding-left: 10px;
      padding-right: 10px;
      height: 60px;
      font-size: 15px;
      border: none;
      background-color: #F6F6F6;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      outline: none;
    }
  
    .txt_field1 span::before{
      content: '';
      position: absolute;
      top: 40px;
      left: 0;
      width: 0%;
      height: 2px;
      background: #4f6f52;
      transition: .3s;
    }
    
    .inputtxt1:not(:focus) + span::before {
      background: #777777;
    }
    
    .txt_field1 .inputtxt1:hover{
      background-color: #ececec;
    }
    
    .txt_field1 .inputtxt1:valid ~ .labelline1 {
      top: 17px;
      font-size: 12px;
      letter-spacing: 0.5px;
      color: #777777;
    }
    
    .txt_field1 .inputtxt1:focus ~ .labelline1 {
      top: 17px;
      font-size: 12px;
      color: #4f6f52;
      letter-spacing: 0.5px;
    }
    form .txt_field{
      position: relative;
      border-bottom: 2px solid #777777;
      margin: 10px 10px 30px 10px;
      width: 773px;
      display: inline-block;
    }
    
    .txt_field .inputtxt{
      width: 100%;
      display: block;
      padding-top: 30px;
      padding-left: 16px;
     // padding-right: 10px;
      padding-bottom: 7px;
      height: 60px;
      font-size: 15px;
      border: none;
      background-color: #F6F6F6;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      outline: none;
    }
    
    .txt_field .labelline{
      position: absolute;
      top: 50%;
      left: 10px;
      color: #777777;
      transform: translateY(-50%);
      font-size: 15px;
      pointer-events: none;
      transition: .3s;
    }
    
    .txt_field span::before{
      content: '';
      position: absolute;
      top: 60px;
      left: 0;
      width: 0%;
      height: 2px;
      background: #4f6f52;
      transition: .3s;
    }
    
    .inputtxt:not(:focus) + span::before {
      background: #777777;
    }
    
    .inputtxt.ng-dirty.ng-invalid ~ span::before {
      background-color: red;
      width: 100%;
    }

    .txt_field .inputtxt:hover{
      background-color: #ececec;
    }
    
    .txt_field .inputtxt:valid ~ .labelline {
      top: 17px;
      font-size: 12px;
      letter-spacing: 0.5px;
      color: #777777;
      
    }
    
    .txt_field .inputtxt:focus ~ .labelline {
      top: 17px;
      font-size: 12px;
      color: #4f6f52;
      letter-spacing: 0.5px;
      left: 5px;
    }
    
    .txt_field .inputtxt:focus ~ span::before{
      width: 100%;
    }
  
    form .txt_field2{
      position: relative;
      border-bottom: 2px solid #777777;
      margin: 10px 10px 30px 10px;
      width: 768px;
      display: inline-block;
    }
    
    .txt_field2 .inputtxt2{
      width: 100%;
      display: block;
      padding-top: 30px;
      padding-left: 10px;
     // padding-right: 10px;
      padding-bottom: 7px;
      height: 60px;
      font-size: 15px;
      border: none;
      background-color: #F6F6F6;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      outline: none;
    }
    
    .txt_field2 .labelline2{
      position: absolute;
      top: 50%;
      left: 10px;
      color: #777777;
      transform: translateY(-50%);
      font-size: 15px;
      pointer-events: none;
      transition: .3s;
    }
  
    .txt_field2 span::before{
      content: '';
      position: absolute;
      top: 60px;
      left: 0;
      width: 0%;
      height: 2px;
      background: #4f6f52;
      transition: .3s;
    }
    
    .inputtxt2:not(:focus) + span::before {
      background: #777777;
    }
    
    .txt_field2 .inputtxt2:hover{
      background-color: #ececec;
    }
    
    .txt_field2 .inputtxt2:valid ~ .labelline2 {
      top: 17px;
      font-size: 12px;
      letter-spacing: 0.5px;
      color: #777777;
    }
    
    .txt_field2 .inputtxt2:focus ~ .labelline2 {
      top: 17px;
      font-size: 12px;
      color: #4f6f52;
      letter-spacing: 0.5px;
    }
    
    .txt_field2 .inputtxt2:focus ~ span::before,
    .txt_field2 .inputtxt2:valid ~ span::before{
      width: 100%;
    }
    
    .date {
      border: none; /* Blue border with increased thickness */
      width: 97%;
      font-size: 15px;
      margin-left: 10px;
      background-color: #F6F6F6;
      border-radius: 5px; /* Rounded border */
      outline: none; /* Remove default outline */
      color: #4f6f52;
    
    }
    
    input[type=file]{
      
      background-color:#F6F6F6;
      border: none;
      width: 100%;
    }
    
    input[type=file]::file-selector-button {
      letter-spacing: 0.5px;
      font-size: 14px;
      border-top-left-radius: 1px;
      font-family: 'Montserrat';
      color: #ffffff;
      width: 150px;
      height: 50px;
      cursor: pointer;
      background-color: #4f6f52;
      border: none;
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
      transition: background-color 200ms;
      left: 10px;
    }
    
    .txt_field .uploadlabel {
      position: absolute;
      top: 0;
      margin-top: -20px;
      font-size: 8px;
      letter-spacing: 0.5px;
      color: #777777;
      position: absolute;
      left: 10px;
    }
  
    .checkbox-group{ 
      display: inline flex;
    justify-content: space-between;
    }
  
     .txt_field1{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      
      
    }
    
    .txt_field1 .labelline1{
    
     // top: 50%;
     // left: 10px;
      color: #777777;
      font-size: 15px;    
    
    }
  
    // input[type=radio] {
    //   display: none;
      
    // }
  
    input[type=radio] + label{
      display: inline-flex;
      align-items: center;
      width: 150px;
      margin:0px 10px 12px 5px;
      cursor: pointer;
      font-weight: bold;    
  }
  
   input[type=radio]{
      display: none;   
    }
  
   input[type=radio] + label:before{
      content: "\2714  ";
      border: 2px solid #4f6f52;
      border-radius:  0.2em;
      width: 1.1em;
      height: 1.4em;
      padding-left: 0.3em;
      color:transparent;
      transition: .2s;
      margin-right: 10px;
      margin-top: 1px;
  }
  
  
  input[type=radio]:checked + label:before{
      background-color: mediumseagreen;
      border-color: mediumseagreen;
      color:#fff;
  
  }
  
  
  
  .txtheader2 {
    padding-top: 7px;
    padding-left: 10px;
   
  
  }
  .add-btn {
    height: auto;
    width: 45px;
    margin-left: 735px;
    margin-top: -110px;
    padding: 5px;
    border: none;
    background-color: #4f6f52;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .add-btn:hover {
    background-color: gray;
  }
  
  .add-btn2 {
    display: inline-block;
    height: 60px;
    width: 100px; 
    margin-left: 20px;
    border: none;
    background-color: #4f6f52;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .add-btn2:hover {
    background-color: gray;
  }
  
  .container2{
    display: block;
    padding-top: 30px;
    margin-right: 10px;
    
  }
  
  hr {
    width: 97%;
    border: 0;
    height: 2px;
    background: black;
    margin-top: 10px;

  }
  
  label {
    padding-left: 2px;
  }
  
  // checkbox spacing (margin-right) pakiayos
  