<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER - TITLE -->
                <div class="detailsheader">
                    <h1>Add College</h1>
                </div>
                <!-- BODY - DETAILS -->
                <div class="detailsbody">
                    <div class="details">
                        <!-- <div class="txtheader2">
                            <hr>
                        </div> -->
                        <form [formGroup]="formDetails">

                            <div class="input-row">
                                <div class="txt_field">
                                    <input class="inputtxt" type="text" formControlName="department_full">
                                    <span></span>
                                    <div class="labelline">Name of College</div>
                                </div>
                                <div class="txt_field">
                                    <input class="inputtxt" type="text" formControlName="department_short">
                                    <span></span>
                                    <div class="labelline">College Abbreviation</div>
                                </div>
                            </div>
                            <div formArrayName="programs" style="align-items: center; justify-content: center; text-align: center;">
                                <ng-container *ngFor="let programForm of programs.controls; index as i; first as first">
                                    <div class="input-row" [formGroupName]="i">
                                        <div class="txt_field" style="width: 470px;">
                                            <input class="inputtxt" type="text" formControlName="program_short" >
                                            <span></span>
                                            <div class="labelline" >Program Abbreviation</div>
                                        </div>
                                        <div class="txt_field">
                                            <input class="inputtxt" type="text" formControlName="program_full">
                                            <span></span>
                                            <div class="labelline"> Program Full Name</div>
                                            </div>
                                        <div class="txt_field">
                                            <input class="inputtxt" type="text" formControlName="category">
                                            <span></span>
                                            <div class="labelline">Project Category</div>
                                        </div>
                                       
                                    </div>
                                    <i class="fa-solid fa-minus"(click)="deleteProgram(i)" *ngIf="!first" style="color:#f70b0b; border: 3px solid #f70b0b;
                            border-radius: 20px; padding: 5px; margin: 10px; cursor: pointer;"></i>
                                   
                                </ng-container>
                                <i class="fa-solid fa-plus"(click)="addPrograms()" style="color:#4f6f52; border: 3px solid #4f6f52; cursor: pointer;
                            border-radius: 20px; padding: 5px;"></i>
                            </div>
                            
                           
                            
                            <div class="button-container">
                        
                                <button (click)="cancelBox()" class="cancel-btn">Cancel</button>
                                <button class="update-btn" (click)="updateBox()" [disabled]="formDetails.invalid">Add</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</main>
