<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER - TITLE -->
                <div class="detailsheader">
                    <button class="exit-button" (click)="closepopup()"> &times; </button>
                    <h1>Title:</h1>
                    <p>Project Title</p>
                </div>
                
                
                <!-- BODY - DETAILS -->
                <div class="detailsbody">
                    <div class="details">
                        <div class="body-details">
                            <img src= "/assets/images/GCLIBRARY.png">
                        <span>
                            <h2>Date Published:</h2>  <p>Ngayon</p>
                        </span>    
                           
                        </div>

                        <div class="body-details">
                            <span>
                                <h2> Department:  </h2> <p>HAHAHA</p>
                            </span>
                            <span>
                                <h2> Course:  </h2> <p>HAHAHA</p>
                            </span>
                            <span>
                                <h2> Author: </h2>  <p>HAHAHA</p>
                            </span>
                            <span>
                                <h2> Project Type:</h2>  <p>HAHAHA</p>
                            </span>
                            <span>
                                <h2> Language:</h2>  <p>HAHAHA</p>
                            </span>
                            <span>
                                <h2> Abstract:</h2> 
                            </span>
                            <span>
                                HAHAHA
                            </span>
                        </div>
                    </div>
                
                    <!-- BUTTONS -->
                    <div class="button-container">
                        <!--<button class="edit-btn" *ngIf="popupService.getPopupStatus() | async"> Edit </button>-->
                        <!-- <button class="delete-btn" (click)="archiveBox()"> Archive </button> -->
                        <button class="edit-btn" type="button"(click)="onEditBtnClick()"> <i class="fa-solid fa-edit"> </i></button>
                        <button class="archive-btn" type="button"(click)="onArchiveBtnClick()"> <i class="fa-solid fa-archive"> </i></button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</main>