.content {
     display: flex;
     transition: all 0.3s ease;
}

.main-content {
     width: 100%;
     transition: all 0.3s ease;
     overflow-y: hidden;
}

*::-webkit-scrollbar {
     width: 0.4rem;
}

*::-webkit-scrollbar-thumb {
     background-color: rgba(49, 164, 99, 0.3);
     border-radius: 10px;
}

:root {
     font-size: 100%;
     //new header green #376448;
     //new sidenav green #4f6f52;
     --primary-color: #ffffff;
     --secondary-color: #eeeeee;
     --main-green: #4f6f52;
     --border-color: #dfe0e0;
     --black: #000000;
}

body {
     transition: all 0.5s ease;
     font-family: "Montserrat";
}

/* HEADER */
.header {
     position: fixed;
     top: 0;
     margin-left: 220px;
     width: calc(100% - 220px);
     background-color: #294b37;
     height: 70px;
     box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
     padding: 15px 20px;
     font-size: 30px;
     font-weight: 700;
     letter-spacing: 1px;
     color: #f4f4f4;
     z-index: 1001;
     transition: all 0.3s ease;
}

.header h1 {
     font-size: 30px;
     font-weight: 700;
     color: #f5efe6;
}

/* SIDEBAR CONTENTS */
.logo img {
     height: 130px;
     width: 130px;
     display: flex;
     justify-content: center;
     margin: auto;
}

.systemname h1 {
     text-align: center;
     font-size: 16px;
     font-weight: 600;
     margin-top: 5px;
     transition: all 0.3s ease;
     color: white;
}

.systemname h2 {
     text-align: center;
     margin-top: 3px;
     font-size: 14px;
     color: white;
     opacity: 50%;
     font-weight: 400;
     letter-spacing: 0.5px;
     text-transform: uppercase;
     transition: all 0.3s ease;
}

.logo-title {
     padding-bottom: 10%;
     border-bottom: 1px solid #33333348;
}

.sidebar-content {
     display: flex;
     flex-direction: column;
     background-color: var(--main-green);
     color: var(--white);
     width: 220px;
     position: fixed;
     top: 0;
     left: 0;
     height: 100%;
     padding: 30px 0px;
     z-index: 100;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
     transition: transform 0.3s ease, width 0.3s ease;
     overflow-x: hidden;
}

/* MENU */
.menu-icon-button {
     position: absolute;
     background: none;
     border: none;
     font-size: 24px;
     padding: 5px;
     right: 0;
     top: 0;
     cursor: pointer;
     color: white;
}

// SCROLLBAR //
.sidebar-content.collapsed {
     width: 70px;
}

.sidebar-content.collapsed .menu-icon-button {
     position: absolute;
     font-size: 24px;
     padding: 5px;
     align-self: center;
     margin-top: 5px;
     left: 0;
     cursor: pointer;
     color: var(--white);
}

.sidebar-content.collapsed .logo img {
     height: 40px;
     width: 40px;
     margin-top: 20px;
     margin-bottom: 20px;
}

.sidebar-content.collapsed .tab-link-icon {
     padding-left: 10px;
}

.sidebar-content.collapsed .systemname,
.sidebar-content.collapsed .tab-link-name {
     display: none;
}

.sidebar-content.collapsed .logoutbtn {
     bottom: 20px;
     width: 70px;
}

// END OF SCROLLBAR //

.sidebar-content a {
     color: white;
     transition: all 0.3s ease;
}

.sidebar-content-tabs {
     position: relative;
}

.admin-tabs {
     padding: 0;
     list-style: none;
}

.admin-tab a {
     display: flex;
     align-items: center;
     font-weight: 500;
     font-size: 14px;
     padding: 15px 15px;
     text-decoration: none;
     border-bottom: 1px solid #33333348;
     transition: 0.3s ease;
}

.admin-tab a:hover {
     color: #ffffff;
     background-color: #376448;
}

.admin-tab a.active-link {
     font-weight: 700;
     color: #ffffff;
     background-color: #294b37;
     border-right: 4px solid var(--main-green);
}

.tab-link .tab-link-name {
     padding-left: 10px;
     padding-top: 2px;
}

.admin-tabs .tab-link-icon {
     font-size: 18px;
}

.admin-tabs .material-symbols-outlined {
     font-size: 22px;
}

ul ul {
     list-style: none;
}

.logoutbtn .logout {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 25px;
}

.logout i {
     padding: 10px 10px 10px 10px;
     transition: all 0.3s ease;
}

.logout i:hover {
     border-radius: 5px;
     background-color: var(--dark-green);
}

.logoutbtn {
     margin-top: auto;
     bottom: 25px;
     left: 0;
     width: 220px;
     cursor: pointer;
     transition: all 0.5s ease;
     color: #ffffff;
}

/* MAIN CONTENT */
.body-content {
     margin-left: 240px;
     padding-top: 90px;
     width: calc(100% - 240px);
     transition: all 0.3s ease;
     overflow: hidden;
}

/* Dropdown Button */
.dropbtn {
     background-color: transparent;
     border: none;
     cursor: pointer;
     outline: none;
     display: flex;
     color: white;
     font-size: 18px;
     margin-left: 180px;
     transform: translateY(-9px);
     position: absolute;
     margin-top: -28px;
}

.sub-tab-link .tab-link-name1 {
     padding-left: 10px;
     padding-top: 2px;
     transition: 0.3s ease;
}

.gc-library {
     flex-grow: 1;
     cursor: pointer;
}

.dropdown-icon {
     transition: transform 0.3s ease;
}

.dropdown-icon.active {
     transform: rotate(-90deg);
}

.dropbtn span {
     margin-left: 5px;
}

.dropdown-content.ng-tns-c15-0 {
     display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
     text-decoration: none;
     display: block;
     font-weight: 500;
     font-size: 14px;
     transition: 0.3s ease;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
     display: block;
}

/* Align icon to the right */
.dropdown i {
     margin-left: auto;
}

// RESPONSIVE SIDEBAR SIZE
@media (max-width: 1320px) {
     .sidebar-content.collapsed {
          width: 80px;
     }

     .header {
          margin-left: 220px;
          width: 100%;
     }

     .body-content {
          margin-left: 220px;
          width: calc(100% - 220px);
     }
}

.collapsed {
     .admin-tab a {
          justify-content: center;
     }
}

// FOR MINIMIZING SIDEBAR
.sidebar-content.collapsed {
     width: 70px;
}

.sidebar-content.collapsed .tab-link-name1 {
     display: none;
}

.sidebar-content.collapsed .menu-icon-button {
     position: absolute;
     font-size: 24px;
     padding: 5px;
     align-self: center;
     margin-top: 5px;
     left: 0;
     cursor: pointer;
     color: white;
}

.sidebar-content.collapsed .logo img {
     height: 40px;
     width: 40px;
     margin-top: 20px;
     margin-bottom: 20px;
}

.sidebar-content.collapsed .tab-link-icon {
     padding-left: 10px;
}

.sidebar-content.collapsed .material-symbols-outlined {
     padding-left: 10px;
}

.sidebar-content.collapsed .systemname,
.sidebar-content.collapsed .tab-link-name {
     display: none;
}

.sidebar-content.collapsed .logoutbtn {
     bottom: 20px;
     width: 70px;
}

.main-content.collapsed .header {
     margin-left: 70px;
     transition: margin-left 0.3s;
     width: calc(100% - 70px);
}

.main-content.collapsed .body-content {
     margin-left: 100px;
     transition: margin-left 0.3s;
     width: calc(100% - 100px);
}

.sidebar-content.collapsed .tab-link-name,
.sidebar-content.collapsed .systemname {
     display: none;
}

.sidebar-content.collapsed .tab-link-icon {
     display: block;
}

/* Overlay sidebar styles */
.sidebar-content.overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 220px;
     height: 100%;
     z-index: 200;
     transform: translateX(0);
}

.main-content.overlay .header,
.main-content.overlay .body-content {
     margin-left: 70px;
     width: calc(100% - 70px);
}

@media (max-width: 768px) {
     .sidebar-content {
          transform: translateX(-100%);
     }

     .content.collapsed .sidebar-content.collapsed {
          transform: translateX(0);
          width: 70px;
     }

     .sidebar-content.overlay {
          width: 220px;
     }

     .main-content.overlay .header,
     .main-content.overlay .body-content {
          margin-left: 70px;
          width: calc(100% - 70px);
     }

     .sidebar-overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 50;
          display: none;
          transition: opacity 0.3s ease;
     }

     .sidebar-overlay.visible {
          display: block;
     }
}

*::-webkit-scrollbar {
     width: 0.4rem;
}

*::-webkit-scrollbar-thumb {
     background-color: rgba(49, 164, 99, 0.3);
     border-radius: 10px;
}
