<main>
    <div class="container">
        <div class="content">
          <div class="details-content">
            <!-- HEADER - TITLE -->
            <div class="detailsheader">
                <h1>Add College</h1>
            </div>
                <!-- BODY - DETAILS -->
                <div class="detailsbody">
                  <div class="details">
                    <div class="detailscontent1">
                        <img [src]=" '/assets/images/GC.png'" alt="/assets/images/GC.png" class="card-image">
                   
                
                        <p style="position: center;">College of Education, Arts and Sciences</p>  
                    </div>
                    <div id="course">
                      <p>Bachelor of Elementary Education</p>
                      <p>Bachelor of Early Childhood Education</p>
                      <p>Bachelor of Secondary Education - Major in English</p>
                      <p>Bachelor of Secondary Education - Major in Filipino</p>
                      <p>Bachelor of Secondary Education - Major in Math</p>
                      <p>Bachelor of Secondary Education - Major in Science</p>
                      <p>Bachelor of Secondary Education - Major in Social Studies</p>
                      <p>Bachelor of Physical Education</p>
                      <p>Bachelor of Cultural and Arts Education</p>
                      <p>Bachelor of Arts in Communication </p>
                      <p>Teacher Certificate Program </p>
                    </div>

                    
                    </div>
                    
                    <div class="button-container">
                        <button  (click)="closepopup()" class="cancel-btn">Close</button>
                       
                        
                      </div>
                </div>
                </div>
                </div>
                </div>
                </main>
