<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER - TITLE -->
                <div class="detailsheader">
                    <h1> History</h1>
                </div>
                
                <!-- BODY - DETAILS -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-body">
                          <form>
                            
                              
                            <div class="row">
                              <div class="col-md-6">
                                <label for="date">Date: </label>
                                <input type="date" class="form-control">
                                </div>
                              </div>
                            
                            
                              <table class="table">
                                <thead>
                                    <tr>
                                        <th>Locker ID</th>
                                        <th>Date & Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>04/01/24,11:05pm</td>
                                       
                                          <tr>
                                              <td>101</td>

                                              <td>04/01/24,11:05pm</td>
                                              
                                              
                                          </tr>
                                          <tr>
                                              <td>102</td>                                              
                                              <td>04/01/24,11:05pm</td>
                                              
                                          </tr>
                                          <tr>
                                              <td>103</td>                                              
                                              <td>04/01/24,11:05pm</td>
                                              
                                          </tr>
                                          <tr>
                                              <td>104</td>                                              
                                              <td>04/01/24,11:05pm</td>
                                              
                                          </tr>
                                      </tbody>
                                    </table>
                                    
                                        
                            
                          </form>
                        </div>
                        <div class="button-container">
                            <button  (click)="closepopup()" class="cancel-btn">Close</button>
                           
                            
                          </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</main>