:root {
    font-size: 100%;
    --primary-color: #FFFFFF;
    --secondary-color: #EEEEEE;
    --main-green: #31A463;
    --border-color: #DFE0E0;
    --black: #000000;
    --shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  /* CARD CONTAINER */
  .card-container {
      width: calc(100% - 220px);
      height: calc(100vh - 210px);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 20px;
      gap: 1.5em;
      overflow-y: auto;
      margin-left: 100px;
      margin-top: 20px;
      
    }
  
    .card {
      flex: 1;
      flex-basis: 25%;
      background-color: #ffffff; /* White background */
      border-radius: 10px; /* Rounded corners */
      box-shadow: 0 4px 8px rgba(0,0,0,0.5);  /*Card shadow */
      border: solid 2px var(--border-color);
      margin: 10px;
      padding: 20px;
      width: 300px; /* Fixed width*/
      transform: scale(1);
      transition: all .2s ease-in;
    }
  
    .card:hover{
      transform: scale(1.05);
      transition: all .2s ease-in;
    }
  
  /* CARD CONTENTS */
  .card-image {
      width: 100%; /* or any specific width */
      height: 200px; /* or any specific height */
      background-color: #f3f3f3; /* a light grey placeholder color */
      border-radius: 5px; /* if you want rounded corners */
      margin-bottom: 10px; /* space between the image and the text below */
      object-fit: contain;
    }
  
    .card h2 {
      font-size: large; /* Larger title text */
      text-align: center;
    }
   
  
   /* CARD BUTTON */
    .view-button {
      display: flex;
      height: 12%;
      flex-direction: row-reverse;
    }
  
    .card button {
      background-color: #31A463;
      border: 2px solid; /* Solid border */
      border-radius: 5px; /* Rounded corners */
      color: #ffffff; /* White text */
      padding: 3px 20px;
      text-transform:none;
      font-size: medium;
      font-family: "Montserrat";
      cursor: pointer;
  } 
    .card button:hover {
      box-shadow: 0px 8px 15px -10px rgb(61, 61, 61);
      transform: translate(0px, -2px);
      background: white;
      color: #31A463;
      cursor: pointer;
      text-decoration: none;
    }
  
    .pagination-container {
      flex: 1;
      flex-basis: 100%;
    }
    
    .pages {
      justify-content: center;
      display: flex;
      flex-direction: row;
      padding: 20px;
    }
    
    .page-links {
      display: inline-block;
      background: #31A463;
      border: 2px solid;
      margin: 0px 10px;
      padding: 5px 10px;
      border-radius: 2px;
      color: white;
      width: 110px;
      text-align: center;
      text-transform: none;
      font-size: medium;
      font-family: "Montserrat";
    }
    
    .page-links:hover {
      box-shadow: 0px 8px 15px -10px rgb(61, 61, 61);
      transform: translate(0px, -2px);
      background: white;
      color: #31A463;
      cursor: pointer;
    }

    // .add-btn {
    //     justify-content: flex-end;
    //     padding: 10px 13px 10px 13px;
    //     border: none;
    //     font-weight: 600;
    //     background-color: #31A463; 
    //     color: #fff;
    //     text-decoration: none;
    //     border-radius: 10px;
    //     cursor: pointer;
    //   }
      
    // .button-container {
    //   justify-content: left;
    //   display: flex;
    //   margin-top: 10px;
     
    // }

    .button-container{
      margin-top: 15px;
      color: #31A463;;
      width: 1100px;
      display:flex;
      
    }
    .button-container .add-btn{
      
      border-radius: 6px;
          padding: 7px;
          font-size: 15px;
          background-color: transparent;
          color: #000;
          text-decoration: none;
          border: 2px solid #31A463;
          transition: background-color 0.3s ease;
        
          float: left;
          cursor: pointer;
    
    
    }
    .button-container .add-btn:hover {
          background-color: #31A463;
      color: #fff;
        }