 <!-- TAB 2 ACADEMIC -->
 <div class="tab-content">
    <div class="academiccontainer">
        <div class="row1">
            <div class="row buttons">
                <div class="col-md-5">
                
                     <!----   <div class="col-md-4">
                    <button class="btn btn-block btn-icon" [routerLink]="['ccs']" routerLinkActive="active"> CCS</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-block btn-icon" [routerLink]="['cba']" routerLinkActive="router-link-active"> CBA</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-block btn-icon" [routerLink]="['cahs']" routerLinkActive="router-link-active"> CAHS</button>
                    <div class="col-md-4">
                        <button class="btn btn-block btn-icon" [routerLink]="['chtm']" routerLinkActive="router-link-active"> CHTM</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-block btn-icon" [routerLink]="['ceas']" routerLinkActive="router-link-active"> CEAS</button>
                    </div>
                    </div> -->
                   
                    <div class="detailsheader">
                        <div class="txt_field">
                            <select class="inputtxt" id="language" name="language" required>
                                <option value="ccs"> ALL COLLEGES </option>
                                <option value="ccs"> CCS </option>
                                <option value="cba"> CBA </option>
                                <option value="cahs"> CAHS </option>
                                <option value="chtm"> CHTM </option>
                                <option value="ceas"> CEAS </option>
                                <option value="ceas"> ceas2 </option>
                            </select>

                            <div class="txt_field">
                                <select class="inputtxt" id="language" name="language" required>
                                    <option value="English"> ALL COURSES </option>
                                    <option value="English"> CAHS </option>
                                    <option value="Tagalog"> BSH </option>
                                    <option value="Tagalog"> BSM </option>
                                    <option value="Tagalog"> BSRT </option>
                                    <option value="Tagalog"> BMLS </option>
                                </select>

                            </div>
                            <div class="col-md-7">
                                <!-- Search bar-->
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </div>
                        <!--   <button class="add-btn" type="button"(click)="onAddNewBtnClick()"> <i class="fa-solid fa-add"> </i></button> -->
                        </div>
                                
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    <div class="container">
            <div class="content">
              <div class="details-content">
                <!-- HEADER - TITLE -->
                <div class="detailsheader1">
                    <h1>Add College</h1>
                </div>
                    <!-- BODY - DETAILS -->
                    <div class="detailsbody">
                      <div class="details">
                          <form>
                                
                                 <div class="txtheader">
                                  <h1>College</h1>
                                 </div> 
                                <div class="txt_field1">
                                  <input class="inputtxt1" type="text1" placeholder="Enter College name" required >
                                  <span></span>
                                  
                                </div>
      
                                <div class="txtheader">
                                  <h1>Courses</h1>
                                 </div> 
                                  
      
                                  <!-- <div class="txt_field1">
                                    <div class="labelline1">Edit Image</div>
                                    <span></span>
                                    <input type="file" accept=".jpeg, .png, .jpg" name="image_location"> 
                                    
                                    
                                    
                                  </div> -->
                            <!---      <div class="txt_field">
                                    <input class="inputtxt" type="text" required>
                                    <span></span>
                                    <div class="labelline">Course 2</div>
                                  </div>
                                  <div class="txt_field">
                                    <input class="inputtxt" type="text" required>
                                    <span></span>
                                    <div class="labelline">Course 3</div>
                                  </div>
                                  <div class="txt_field">
                                    <input class="inputtxt" type="text" required>
                                    <span></span>
                                    <div class="labelline">Course 4</div>
                                  </div>
                                  <div class="txt_field">
                                    <input class="inputtxt" type="text" required>
                                    <span></span>
                                    <div class="labelline">Course 5</div>
                                  </div>
                                  <div class="txt_field">
                                    <input class="inputtxt" type="text" required>
                                    <span></span>
                                    <div class="labelline">Course 6</div>
                                  </div>
                                 
                                  <div class="button-container">
                                    <button class="update-btn" (click)="updateBox()"> Add </button>
                                      

                                      
                                     
                                      </div> 
                                    
                                
                              </form>
                            </div> -->
                            

        <!-- College Section -->
        
        

        <!-- Courses Section -->
        <div class="row">
            <div class="column">

        <div class="txt_field2">
            
            <input type="text2" id="course1" name="course1" placeholder="Enter course name">
            <span></span>
        </div>
        <div class="txt_field2"> 
            
            <input type="text2" id="course2" name="course2" placeholder="Enter course name">
            <span></span>
        </div>
        <div class="txt_field2">
            
            <input type="text2" id="course3" name="course3" placeholder="Enter course name">
            <span></span>
        </div>
        </div>
        </div>
        <div class="row">
            <div class="column">
        <div class="txt_field2">
            
            <input type="text2" id="course4" name="course4" placeholder="Enter course name">
            <span></span>
        </div>
        <div class="txt_field2">
            <input type="text2" id="course5" name="course5" placeholder="Enter course name">
            <span></span>
        </div>
        <div class="txt_field2">
            
            <input type="text2" id="course6" name="course6" placeholder="Enter course name">
            <span></span>
        </div>
        </div>
        </div>

        <div class="button-container">
            <button class="clear-btn"> Clear </button>
            <button class="update-btn" value=""> Add </button>
              

</div>

