<div class="header">
    <h1>DASHBOARD - LOCKER</h1>
</div>
    
    
    <!-- TOTAL/CARDS -->
    <div class="template">
    <div class="cards">
        <div class="input-row">
            <div class="card">
                <div class="icon-case">
                    <!-- <img src="assets/icons/total_titles.png"> -->
                    <i class="fa-solid fa-lock"></i>
                </div>
                <div class="box">
                    <h1>100</h1>
                    <h3>Total Locker</h3>
                </div>
            </div>
    
            <div class="card">
                <div class="icon-case">
                    <i class="fa-solid fa-users"></i>
                </div>
                <div class="box">
                    <h1> 100</h1>
                    <h3>Total User</h3>
                </div>
            </div>
        </div>
    
        <!-- GRAPH CONTAINER -->
    
       
    
        <div class="graph1">
    
             <!-- 1ST CARD -->
           
            <div class="container"> 
               
                <div class="text"> 
                    <div class="analytic1">
                         <h2>Total Users of Locker</h2>
                    </div>
                    
                   
                </div>
                <div class="visual">
                    <div class="chart">
                        <h1>sample container ng graph</h1>
                    </div>
                   
                </div>
            </div> 
               
                
        </div>
    </div>
</div>
    