
<div class="cards">
    <div class="input-row">
        <div class="card">
            <div class="icon-case">
                <!-- <img src="assets/icons/total_titles.png"> -->
                <i class="fa-solid fa-lock"></i>
            </div>
            <div class="box">
                <h1> 23425</h1>
                <h3>Total Locker</h3>
            </div>
        </div>

        <div class="card">
            <div class="icon-case">
                <i class="fa-solid fa-users"></i>
            </div>
            <div class="box">
                <h1> 4420420</h1>
                <h3>Total User</h3>
            </div>
        </div>  
    </div>
