<div class="header">
    <h1>DASHBOARD - LOCKER</h1>
  </div>
  
  <!-- TOTAL/CARDS -->
  <div class="template">
    <div class="cards">
      <div class="input-row">
        <div class="card">
          <div class="icon-case">
            <i class="fa-solid fa-lock"></i>
          </div>
          <div class="box">
            <h1>{{ totalLockers }}</h1>
            <h3>Total Locker</h3>
          </div>
        </div>
        <div class="card">
          <div class="icon-case">
            <i class="fa-solid fa-users"></i>
          </div>
          <div class="box">
            <h1>{{totalUsers}}</h1>
            <h3>Total User</h3>
          </div>
        </div>
      </div>
    </div>
  
    <!-- GRAPH CONTAINER -->
    <div class="table-content">
      <div class="graph1">
        <div class="container1">
          <div class="text">
            <div class="text1">
              <div class="filter1">
                <select class="inputtxt" id="language" name="language">
                  <option value="0"> Daily </option>
                  <option value="1"> Weekly </option>
                  <option value="2"> Monthly </option>
                  <option value="3"> Semester </option>
                  <option value="4"> Yearly </option>
                </select>
              </div>
            </div>
            <div class="tags">
              <div class="borrower-card">
                <div class="borrower-info">
                  <p>Unavailable</p>
                  <h1>2</h1>
                </div>
              </div>
              <div class="borrower-card">
                <div class="borrower-info">
                  <p>Occupied</p>
                  <h1>2</h1>
                </div>
              </div>
              <div class="borrower-card">
                <div class="borrower-info">
                  <p>Available</p>
                  <h1>2</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container2">
          <div class="visual">
            <div class="chart">
              <canvas class="first-graph" id="myLockerChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  