<main class="login-container">
     <div class="container">
          <div class="forms-container">
               <div class="signin-signup">
                    <form class="sign-in-form" ngNativeValidate (submit)="login()" [formGroup]="loginForm">
                         <h2 class="title">
                              <img src="assets/images/GCLMS.PNG" alt="Gordon College Logo" class="logo" /><br />
                              <span class="upper-text">Gordon College</span><br />
                              <span class="lower-text">Library Management System</span><br />
                              <span class="subsystemname">Maintenance</span>
                         </h2>

                         <div class="input-field">
                              <i class="bx bxs-user"></i>
                              <input type="text" placeholder="Username" formControlName="username" autocomplete="on" required />
                         </div>
                         <div class="input-field">
                              <i class="bx bxs-lock-alt"></i>
                              <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" formControlName="password" autocomplete="on" required />
                         </div>

                         <div class="btn">
                              <button class="btn" type="submit">
                                   <span *ngIf="!isLoggingIn">Login</span>
                                   <span *ngIf="isLoggingIn"> <i class="fas fa-spinner fa-spin" style="margin-right: 5px"></i> Logging in... </span>
                              </button>
                         </div>

                         <p class="social-text">GCLMS v0.1</p>
                    </form>
               </div>
          </div>

          <!-- LEFT CONTENT -->
          <div class="panels-container">
               <div class="panel left-panel">
                    <div class="content"></div>
                    <img src="assets/images/vector.png" class="image" alt="" />
               </div>
          </div>
     </div>
</main>
