.container-AddNewButton{
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px ;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 10px;
    float: right;
    font-weight: bold;
    cursor: pointer;
}
.main-content {
    margin: 10px 40px 10px 10px;
}


.container-header{
    background-color: #31A463;
    color: white;
    border-radius: 10px;
    margin-right: 25px;
    margin-top: 25px;
    padding: 10px;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-right: 1000px;
    background-color: #EEEEEE;
}

.container {
    //margin: 20px auto; 
    padding: 20px, 0px;
    background-color: #ffffff;
    border-radius: 0px;
}

h1 {
    text-align: left;
    margin-left: 10px;
}
table {
    width: 100%;
    border-collapse:collapse;
    margin-top: 20px;
    margin-left: -10;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #31A463;
    font-weight: bold;
    color: #ddd;
}

.edit-btn {
    padding: 5px 17px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: #31A463;
    color: #fff;
    border-radius: 3px;
}

.archive-btn{

    padding: 5px 17px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: #AB0E0E;
    color: #fff;
    border-radius: 3px;
}

.edit-btn:hover {
    background-color: #298f53;
}

.upload-btn:hover {
    background-color: #218838;
}

    
.pagination {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;

    button {
        padding: 8px 16px;
        border: 1px solid #ccc;
        background-color: #31A463;
        color: #333;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        margin: 0 5px;
        border-radius: 4px;
        outline: none;
        color: white;

        &:hover {
            background-color: #298f55;
            color: #fff;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }

    span {
        padding: 8px 16px;
        border: 1px solid #ccc;
        background-color: #f2f2f2;
        color: #333;
        margin: 0 5px;
        border-radius: 4px;
    }
}