<div class="main-content">

    
    <div class="sidebar-content">
        <div class="container-header">
            <h1>
                LOCKER INVENTORY
                <div class="container-AddNewButton">
                    <button (click)="onAddNewBtnClick()">Add New</button>
                    <button (click)="onHistoryBtnClick()">History</button>
                </div>

            </h1>
        </div>
 
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Locker ID</th>
                        <th>Status</th>
                        <th>Date & Time</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Available</td>
                        <td>04/01/24,11:05pm</td>
                        <td>
                            <button class="edit-btn">Edit</button>
                            <button class="archive-btn">Archive</button>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Available</td>
                        <td>04/01/24,11:05pm</td>
                        <td>
                            <button class="edit-btn">Edit</button>
                            <button class="archive-btn">Archive</button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Available</td>
                        <td>04/01/24,11:05pm</td>
                        <td>
                            <button class="edit-btn">Edit</button>
                            <button class="archive-btn">Archive</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Available</td>
                        <td>04/01/24,11:05pm</td>
                        <td>
                            <button class="edit-btn">Edit</button>
                            <button class="archive-btn">Archive</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>