* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1186_573 {
  width: 100%;
  height: 720px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1319_699 {
  width: 210px;
  height: 720px;
  background: url("../images/v1319_699.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  overflow: hidden;
}
.v1319_700 {
  width: 193px;
  height: 301px;
  background: url("../images/v1319_700.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 297px;
  left: 0px;
  overflow: hidden;
}
.v1319_701 {
  width: 192px;
  background: url("../images/v1319_701.png");
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 193px;
  border: 1px solid rgba(225,225,225,1);
  transform: rotate(-179deg);
}
.v1319_702 {
  width: 192px;
  background: url("../images/v1319_702.png");
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 193px;
  border: 1px solid rgba(225,225,225,1);
  transform: rotate(-179deg);
}
.v1319_703 {
  width: 192px;
  background: url("../images/v1319_703.png");
  opacity: 1;
  position: absolute;
  top: 301px;
  left: 192px;
  border: 1px solid rgba(225,225,225,1);
  transform: rotate(-179deg);
}
.v1319_704 {
  width: 192px;
  background: url("../images/v1319_704.png");
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 193px;
  border: 1px solid rgba(225,225,225,1);
  transform: rotate(-179deg);
}
.v1319_705 {
  width: 192px;
  background: url("../images/v1319_705.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 192px;
  border: 1px solid rgba(225,225,225,1);
  transform: rotate(-179deg);
}
.v1319_706 {
  width: 192px;
  background: url("../images/v1319_706.png");
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 193px;
  border: 1px solid rgba(225,225,225,1);
  transform: rotate(-179deg);
}
.v1319_707 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 650px;
  left: 83px;
  overflow: hidden;
}
.v1319_708 {
  width: 28px;
  height: 21px;
  background: url("../images/v1319_708.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 3px;
  border: 1.486875057220459px solid rgba(0,0,0,1);
}
.name {
  color: #fff;
}
.v1319_713 {
  width: 151px;
  height: 23px;
  background: url("../images/v1319_713.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 312px;
  left: 19px;
  overflow: hidden;
}
.v1319_714 {
  width: 23px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1319_715 {
  width: 19px;
  height: 17px;
  background: url("../images/v1319_715.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
  overflow: hidden;
}
.v1319_716 {
  width: 5px;
  height: 5px;
  background: url("../images/v1319_716.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  border: 1.9824999570846558px solid rgba(0,0,0,1);
}
.v1319_717 {
  width: 7px;
  height: 7px;
  background: url("../images/v1319_717.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  border: 1.9824999570846558px solid rgba(0,0,0,1);
}
.v1319_718 {
  width: 19px;
  height: 9px;
  background: url("../images/v1319_718.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border: 1.9824999570846558px solid rgba(0,0,0,1);
}
.v1319_719 {
  width: 122px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 29px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1319_720 {
  width: 119px;
  height: 23px;
  background: url("../images/v1319_720.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 19px;
  overflow: hidden;
}
.v1319_721 {
  width: 23px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1319_722 {
  width: 19px;
  height: 19px;
  background: url("../images/v1319_722.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v1319_723 {
  width: 16px;
  height: 16px;
  background: url("../images/v1319_723.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 1.9824999570846558px solid rgba(0,0,0,1);
}
.v1319_724 {
  width: 19px;
  height: 19px;
  background: url("../images/v1319_724.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.9824999570846558px solid rgba(0,0,0,1);
}
.v1319_725 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 35px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1319_726 {
  width: 153px;
  height: 24px;
  background: url("../images/v1319_726.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 435px;
  left: 17px;
  overflow: hidden;
}
.v1319_727 {
  width: 23px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1319_728 {
  width: 19px;
  height: 16px;
  background: url("../images/v1319_728.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 1px;
  overflow: hidden;
}
.v1319_729 {
  width: 19px;
  height: 12px;
  background: url("../images/v1319_729.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  border: 1.9824999570846558px solid rgba(49,164,99,1);
}
.v1319_730 {
  width: 9px;
  height: 12px;
  background: url("../images/v1319_730.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  border: 1.9824999570846558px solid rgba(49,164,99,1);
}
.v1319_731 {
  width: 118px;
  color: rgba(49,164,99,1);
  position: absolute;
  top: 1px;
  left: 35px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1319_732 {
  width: 106px;
  height: 23px;
  background: url("../images/v1319_732.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 497px;
  left: 19px;
  overflow: hidden;
}
.v1319_733 {
  width: 23px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1319_734 {
  width: 18px;
  height: 19px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
}
.v1319_735 {
  width: 71px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 35px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1319_736 {
  width: 122px;
  height: 23px;
  background: url("../images/v1319_736.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 559px;
  left: 19px;
  overflow: hidden;
}
.v1319_737 {
  width: 23px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1319_738 {
  width: 17px;
  height: 18px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v1319_739 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 38px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1319_741 {
  width: 40px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 260px;
  left: 80px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1186_628 {
  width: 963px;
  height: 332px;
  background: rgba(238,238,238,1);
  opacity: 1;
  position: absolute;
  top: 238px;
  left: 271px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1186_627 {
  width: 931px;
  height: 184px;
  background: url("../images/v1186_627.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 294px;
  left: 290px;
  overflow: hidden;
}
.v1186_629 {
  width: 931px;
  background: url("../images/v1186_629.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
}
.v1186_630 {
  width: 931px;
  background: url("../images/v1186_630.png");
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 0px;
  border: 1px solid rgba(191,191,191,1);
}
.v1186_631 {
  width: 931px;
  background: url("../images/v1186_631.png");
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 0px;
  border: 1px solid rgba(191,191,191,1);
}
.v1186_632 {
  width: 931px;
  background: url("../images/v1186_632.png");
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 0px;
  border: 1px solid rgba(191,191,191,1);
}
.v1186_633 {
  width: 931px;
  background: url("../images/v1186_633.png");
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 0px;
  border: 1px solid rgba(191,191,191,1);
}
.v1186_669 {
  width: 184px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 259px;
  left: 816px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1186_675 {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 259px;
  left: 632px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1186_682 {
  width: 191px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 258px;
  left: 342px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1186_770 {
  width: 879px;
  height: 25px;
  background: url("../images/v1186_770.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 306px;
  left: 307px;
  overflow: hidden;
}
.v1186_665 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 510px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1186_671 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 313px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1186_678 {
  width: 241px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1186_746 {
  width: 114px;
  height: 25px;
  background: url("../images/v1186_746.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 765px;
  overflow: hidden;
}
.v1186_747 {
  width: 74px;
  height: 25px;
  background: rgba(49,164,99,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1186_748 {
  width: 30px;
  height: 25px;
  background: rgba(170,13,13,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 84px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1186_749 {
  width: 32px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 21px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1186_750 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 89px;
  overflow: hidden;
}
.v1186_751 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v1186_771 {
  width: 879px;
  height: 25px;
  background: url("../images/v1186_771.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 353px;
  left: 307px;
  overflow: hidden;
}
.v1186_666 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 510px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1186_672 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 313px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1186_679 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1186_752 {
  width: 114px;
  height: 25px;
  background: url("../images/v1186_752.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 765px;
  overflow: hidden;
}
.v1186_753 {
  width: 74px;
  height: 25px;
  background: rgba(49,164,99,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1186_754 {
  width: 30px;
  height: 25px;
  background: rgba(170,13,13,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 84px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1186_755 {
  width: 32px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 21px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1186_756 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 89px;
  overflow: hidden;
}
.v1186_757 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v1186_772 {
  width: 879px;
  height: 25px;
  background: url("../images/v1186_772.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 399px;
  left: 307px;
  overflow: hidden;
}
.v1186_667 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 510px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1186_673 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 310px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1186_680 {
  width: 241px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1186_758 {
  width: 114px;
  height: 25px;
  background: url("../images/v1186_758.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 765px;
  overflow: hidden;
}
.v1186_759 {
  width: 74px;
  height: 25px;
  background: rgba(49,164,99,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1186_760 {
  width: 30px;
  height: 25px;
  background: rgba(170,13,13,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 84px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1186_761 {
  width: 32px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 21px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1186_762 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 89px;
  overflow: hidden;
}
.v1186_763 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v1186_773 {
  width: 879px;
  height: 25px;
  background: url("../images/v1186_773.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 442px;
  left: 307px;
  overflow: hidden;
}
.v1186_668 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 510px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1186_674 {
  width: 128px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 340px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1186_681 {
  width: 124px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1186_764 {
  width: 114px;
  height: 25px;
  background: url("../images/v1186_764.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 765px;
  overflow: hidden;
}
.v1186_765 {
  width: 74px;
  height: 25px;
  background: rgba(49,164,99,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1186_766 {
  width: 30px;
  height: 25px;
  background: rgba(170,13,13,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 84px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1186_767 {
  width: 32px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 21px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1186_768 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 89px;
  overflow: hidden;
}
.v1186_769 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v1186_741 {
  width: 963px;
  height: 86px;
  background: rgba(49,164,99,1);
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 271px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1186_742 {
  width: 483px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 142px;
  left: 296px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v1186_743 {
  width: 150px;
  height: 40px;
  background: url("../images/v1186_743.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 1049px;
  overflow: hidden;
}
.v1186_744 {
  width: 150px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1186_745 {
  width: 84px;
  color: rgba(49,164,99,1);
  position: absolute;
  top: 8px;
  left: 33px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v1332_71 {
  width: 100%;
  height: 90px;
  background: url("../images/v1332_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 220px;
  overflow: hidden;
}
.v1332_72 {
  width: 100%;
  height: 89px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1332_73 {
  width: 100%;
  color: rgba(49,164,99,1);
  position: absolute;
  top: 23px;
  left: 30px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1332_74 {
  width: 100%;
  background: url("../images/v1332_74.png");
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 2px;
  border: 1.5px solid rgba(223,224,224,1);
}
.v1520_69 {
  width: 162px;
  height: 162px;
  background: url("../images/v1520_69.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 29px;
  overflow: hidden;
}
.v1520_70 {
  width: 122px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 232px;
  left: 49px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
