<main>
  <div class="container">
    <div class="content">
      <div class="details-content">
        <!-- HEADER - TITLE -->
        <div class="detailsheader">
          <h1></h1>
        </div>
        <!-- BODY - DETAILS -->
        <div class="detailsbody">
          <div class="details">
            <form>
              <div class="txtheader">
                <h2>SELECT DEPARTMENT</h2>
              </div>
              <hr>
              <div class="checkbox-group">
                <div class="txt_field1">
                  <div class="labelline1"></div>
                    <input type="radio" class="radio-button__input" id="radio1" name="department" [(ngModel)]="selectedDepartment" value="CCS">
                    <label class="radio-button__label" for="radio1">
                      <span class="radio-button__custom"></span>
                      CCS
                    </label>
                    
                    <input type="radio" class="radio-button__input" id="radio2" name="department" [(ngModel)]="selectedDepartment" value="CEAS">
                    <label class="radio-button__label" for="radio2">
                      <span class="radio-button__custom"></span>
                      CEAS
                    </label>
                    
                    <input type="radio" class="radio-button__input" id="radio3" name="department" [(ngModel)]="selectedDepartment" value="CAHS">
                    <label class="radio-button__label" for="radio3">
                      <span class="radio-button__custom"></span>
                      CAHS
                    </label>
                    
                    <input type="radio" class="radio-button__input" id="radio4" name="department" [(ngModel)]="selectedDepartment" value="CBA">
                    <label class="radio-button__label" for="radio4">
                      <span class="radio-button__custom"></span>
                      CBA
                    </label>
                    
                    <input type="radio" class="radio-button__input" id="radio5" name="department" [(ngModel)]="selectedDepartment" value="CHTM">
                    <label class="radio-button__label" for="radio5">
                      <span class="radio-button__custom"></span>
                      CHTM
                    </label>
                                  
                </div>
              </div>

              <div class="txtheader2">
                <hr>
                <h2>ADD PROGRAM</h2>
              </div>
              <div class="container2">
                <div class="txt_field">
                  <input class="inputtxt" type="text" [(ngModel)]="programAbbreviation" [ngModelOptions]="{ standalone: true }" required>
                  <span></span>
                  <div class="labelline">Program Abbreviation</div>
                </div>
                <div class="txt_field">
                  <input class="inputtxt" type="text" [(ngModel)]="projectCategory" [ngModelOptions]="{ standalone: true }" required>
                  <span></span>
                  <div class="labelline">Project Category</div>
                </div>
                <div class="txt_field2">
                  <input class="inputtxt2" type="text" [(ngModel)]="programName" [ngModelOptions]="{ standalone: true }" required>
                  <span></span>
                  <div class="labelline2">Program</div>
                </div>
              </div>
            </form>
          </div>
          <div class="button-container">

            <button (click)="cancelBox()" class="cancel-btn">Cancel</button>
            <button class="update-btn" (click)="addProgram()"> Add </button>


          </div>
        </div>

      </div>
    </div>
  </div>

</main>