<div class="header">
    <h1>DASHBOARD - OPAC</h1>
</div>

<div class="template">
    <div class="cards">
        <div class="input-row">
            <div class="card">
                <div class="icon-case">
                    <!-- <img src="assets/icons/total_titles.png"> -->
                    <i class="fa-solid fa-file-circle-check"></i>
                </div>
                <div class="box">
                    <h1> 23425</h1>
                    <h3>Number of Visit</h3>
                </div>
            </div>
        </div>
        <div class="table-content">
            <div class="graph">
            <div class="visual">
                <div class="barchart">
                    <canvas class="first-graph" id="myBarChart"></canvas> 
                  </div>
            </div>
        </div>
        </div>
        </div>
       
        </div>