.container-addUserButton{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    border: 1px ;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    margin-right: auto;
    float: right;
    margin-top: 5px;
    text-align: center;
    

}
.container-addUserButton:hover{
    background-color:green($color: #000000);
    color: rgb(46, 44, 44);
}
.search-bar{
    background-color: white;
    border-radius: 10px;
    border: 1px;
    padding: 10px;
    padding-right: 0px;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    font-weight: bold;
    color: black;
    margin-top: 5px;
}   


.container-header{
    background-color: #31A463;
    color: white;
    border-radius: 10px;
    margin-right: 25px;
    margin-top: 25px;
    padding: 10px;
    max-width: 1655px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1000;
    background-color: #EEEEEE;
    text-align: start;
}

.container {
    max-width: 1500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0px;
   
}

h1 {
    text-align: left;
    margin-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #ffffff;
    font-weight: bold;
}

.edit-btn {
    padding: 5px 17px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: #31A463;
    color: #fff;
    border-radius: 3px;
}

.delete-btn{

    padding: 5px 17px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: #AB0E0E;
    color: #fff;
    border-radius: 3px;
}

.edit-btn:hover {
    background-color: #298f55;
}