<div class="main-content">

    
    <div class="sidebar-content">
        <div class="container-header">
            <h1>
                PERSONNEL SETUP
                    <input class="search-bar" type="search" placeholder="Search.." >          
                    <button class="container-addUserButton" type="button" (click)="onAddNewBtnClick()">Add User</button>
                
                
            </h1>

        </div>
 
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Patron Type</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John Doe</td>
                        <td>Staff</td>
                        <td>johnexample.com</td>
                        <td>
                            <button class="edit-btn">Edit</button>
                            <button class="delete-btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Jane Smith</td>
                        <td>Staff</td>
                        <td>janeexample.com</td>
                        <td>
                            <button class="edit-btn">Edit</button>
                            <button class="delete-btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Bob Johnson</td>
                        <td>Staff</td>
                        <td>bob example.com</td>
                        <td>
                            <button class="edit-btn">Edit</button>
                            <button class="delete-btn">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Maxinne nawala codehaha</td>
                        <td>Staff</td>
                        <td>nabaliw sa git.com</td>
                        <td>
                            <button class="edit-btn">Edit</button>
                            <button class="delete-btn">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>

