<main>
  <div class="container">
      <div class="content">
          <div class="details-content">
              <!-- HEADER - TITLE -->
              <div class="detailsheader">
                  <h1> Add Locker</h1>
              </div>
              
              <!-- BODY - DETAILS -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-body">
                        <form>
                          
                            
                          <div class="row">
                            <div class="col-md-6">
                              <label for="locker">Locker Number</label>
                              <input type="text" class="form-control" placeholder="1">
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                              <label for="locker">Locker Number</label>
                              <input type="text" class="form-control" placeholder="">
                            </div>
                            </div>
                              <div class="row">
                              <div class="col-md-6">
                                <label for="date">Date: </label>
                                <input type="date" class="form-control">
                                </div>
                              </div>
                                  <div class="row">
                                    <div class="col-md-15">
                                      <label for="title">Status</label>
                                      <select class="form-control2" id="language" name="language" required>
                                        <option value="English"> Available  </option>
                                        <option value="Tagalog"> Unavailable </option>
                                        <option value="Tagalog"> Damaged </option>
                                    </select>
                                    </div>
                                  </div>
                          
                        </form>
                      </div>
                      <div class="button-container">
                          <button  class="add-btn">Add</button>
                          <button  (click)="closepopup()" class="cancel-btn">Cancel</button>
                         
                          
                        </div>
                    </div>
                  </div>
                </div>
          </div>
      </div>