/* CONTAINER */
.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.detailsheader h1{
    border-bottom: 3.5px solid #000000;
    margin: 20px 20px 20px 20px;
    color: #31A463;;
    text-align: center;
}
.details-content {
    position: relative;
    padding: 0 30px 10px 30px;
    background: white;
    width: 900px;
    border-radius: 5px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
    max-height: 600px;
    overflow-y: auto;
    height: 500px;
}


.btn-close {
    position: relative;
    float: right;
}
form {
    margin: 0 25px 0 25px;
}
.form-group {
    display: flex;
}
.row {
    width: calc(50% - 20px); /* Two items per row with margin between them */
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
form .form-row {
    padding: 10px;
}
form .form-control {
    border: 2px solid #31A463;
    height: 30px;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 10px;
}

form .form-control1 {
    border: 2px solid #31A463;
    height: 30px;
    border-radius: 5px;
    width: 265px;
}



.modal-footer .btn-submit {
    position: relative;
    right: 25px;
    background-color: #31A463;
    color: white;
    border: none;
    border-radius: 20px;
    width: 20%;
}

.button-container {
    margin-top: 20px;
}

button {
    font-family: 'Poppins';
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    width: 100px;
    letter-spacing: 1.5px;
    margin: 10px;
}

.cancel-btn {
    background-color: #AB0E0E;
    color: white;
    float: right;
    margin-top: 30px;
    
}

.cancel-btn:hover {
    background-color: gray;
}

.add-btn {
    background-color: #31A463;
    color: white;
    float: right;
    margin-top: 30px;

}

.add-btn:hover {
    background-color: gray;
}

input[type="text"], textarea {
    width: calc(100% - 20px);
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  /* Style for big text box */
  .big-text-box {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: vertical;
    min-height: 150px;

  }
  /* INPUT FILE LABEL AND BUTTON */
.txt-field .uploadlabel {
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #777777;
    margin-left: 200px;
}

.txt-field input[type="file"]:focus ~ .uploadlabel {
    color: #31A463;
}

input[type="file"]::file-selector-button {
    border-top-left-radius: 1px;
    font-family: 'Poppins';
    color: #ffffff;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: #31A463;
    border: none;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    transition: background-color 200ms;
}
/* INPUT FILE LABEL AND BUTTON */
