<div class="header">
    <h1>DASHBOARD - CATALOGING</h1>
</div>


<!-- TOTAL/CARDS -->
<div class="template">
    <div class="cards">
        <div class="input-row">
            <div class="card">
                <div class="icon-case">
                    <!-- <img src="assets/icons/total_titles.png"> -->
                    <i class="fa-solid fa-book"></i>
                </div>
                <div class="box">
                    <h1>{{ materials.total }}</h1>
                    <h3>Total Materials</h3>
                </div>
            </div>

            <div class="card">
                <div class="icon-case">
                    <i class="fa-solid fa-file"></i>
                </div>
                <div class="box">
                    <h1>{{ totalProjects }}</h1>
                    <h3>Total Projects</h3>
                </div>
            </div>
        </div>

        <!-- GRAPH CONTAINER -->


        <div class="table-content">
            <div class="graph1">

                <!-- 1st CARD -->
                <div class="container1">
                    <div class="text">
                        <div class="head">
                            <h1>Total Projects Report</h1>
                        </div>
                        <div class="visual1">
                            <div class="chart1">
                                <canvas class="first-graph" id="myCataLineChart"></canvas>
                            </div>

                        </div>

                    </div>


                    <div class="analytic1">
                        <div class="materialname" style="border-left: 10px solid  #4f6f52;" *ngFor="let project of projects">
                            <h1>{{ project.total }}</h1>
                            <p>{{ project.department_short }}</p>
                        </div>
                    </div>
                </div>


                <!-- 2nd CARD -->

                <div class="container">
                    <div class="text1">
                        <div class="head">
                            <h1>Total Materials Report</h1>
                        </div>
                        <div class="analytic">
                            <div class="materialname1">

                                <h1>{{ materials.books}}</h1>
                                <p>BOOKS</p>
                            </div>

                            <div class="materialname1">

                                <h1>{{ materials.periodicals }}</h1>
                                <p>PERIODICAL</p>
                            </div>
                            <div class="materialname1">

                                <h1>{{ materials.articles }}</h1>    
                                <p>ARTICLE</p>
                            </div>
                            <div class="materialname1">

                                <h1>{{ materials.audiovisual }}</h1>
                                <p>AUDIOVISUAL</p>
                            </div>
                        </div>
                        <div class="visual">
                            <div class="chart">
                                <canvas class="second-graph" id="myCataDoughnutChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>