
<div class="cards">
    <div class="input-row">
        <div class="card">
            <div class="icon-case">
                <!-- <img src="assets/icons/total_titles.png"> -->
                <i class="fa-solid fa-book"></i>
            </div>
            <div class="box">
                <h1>100</h1>
                <h3>Total Materials</h3>
            </div>
        </div>

        <div class="card">
            <div class="icon-case">
                <i class="fa-solid fa-file"></i>
            </div>
            <div class="box">
                <h1> 100</h1>
                <h3>Total Projects</h3>
            </div>
        </div> 
    </div>
