<div class="header">
    <h1>DASHBOARD - CATALOGING</h1>
</div>


<!-- TOTAL/CARDS -->
<div class="template">
<div class="cards">
    <div class="input-row">
        <div class="card">
            <div class="icon-case">
                <!-- <img src="assets/icons/total_titles.png"> -->
                <i class="fa-solid fa-book"></i>
            </div>
            <div class="box">
                <h1>100</h1>
                <h3>Total Materials</h3>
            </div>
        </div>

        <div class="card">
            <div class="icon-case">
                <i class="fa-solid fa-file"></i>
            </div>
            <div class="box">
                <h1> 100</h1>
                <h3>Total Projects</h3>
            </div>
        </div>
    </div>

    <!-- GRAPH CONTAINER -->

   

    <div class="graph1">

         <!-- 1ST CARD -->
           
        <div class="container">
            <div class="text">
                <div class="analytic">
                    <h1>Total Materials Report</h1>
                    <p>BOOKS</p>
                    <h3>100</h3>
                </div>
                <div class="analytic2">
                    <p>PERIODICAL</p>
                    <h3>100</h3>
                </div>
                <br>
                <div class="analytic3">
                    <p>ARTICLE</p>
                    <h3>100</h3>
                </div>
            </div>
            <div class="visual">
                <div class="chart">
                    <h1>sample container ng graph</h1>
                </div>

            </div>
        </div> 
    </div>
    
    <div class="graph1">

        <!-- 2ND CARD -->

        <div class="container1">
            <div class="text1">
                <div class="analytic">
                    <h1>Total Projects Report</h1>
                    <p>CCS</p>
                    <h3>100</h3>
                </div>
                <br>
                <div class="analytic2">
                    <p>CEAS</p>
                    <h3>100</h3>
                </div>
                <br>
                <div class="analytic3">
                    <p>CBA</p>
                    <h3>100</h3>
                </div>
                <br>
                <div class="analytic4">
                    <p>CHTM</p>
                    <h3>100</h3>
                </div>
                <br>
                <div class="analytic5">
                    <p>CAHS</p>
                    <h3>100</h3>
                </div>
            </div>
            <div class="visual">
                <div class="chart">
                    <h1>sample container ng graph</h1>
                </div>

            </div>
        </div> 
   </div>

</div>
