<main>
  <div class="container">
    <div class="content">
      <div class="details-content">
        <!-- HEADER - TITLE -->
        <div class="detailsheader">
          <h1> Scan Barcode</h1>
        </div>

        <!-- BODY - DETAILS -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-body">
                <form>


                  <div class="txt_field">
                    <input class="inputtxt" type="text" required>
                    <span></span>
                    <div class="labelline">Barcode</div>
                  </div>
                </form>
              </div>
              <div class="button-container">
                <button class="add-btn">Scan</button>
                <button (click)="closepopup()" class="cancel-btn">Cancel</button>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>