.detailsheader {
    margin-top: 15px;
    color: #4f6f52;
    width: 1100px;
    display: flex;

}

.detailsheader .add-btn {

    background: var(--main-green);
    text-decoration: none;
    color: white;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
    transition: .3s;
    transform: translate(0px, 0px);
    border-radius: 3px;
    border: 1px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 10px;
    float: right;
    font-weight: bold;
    cursor: pointer;
}

.detailsheader .add-btn:hover {
    box-shadow: 0px 8px 15px -10px rgb(125, 125, 125);
    transform: translate(0px, -2px);
    background: var(--green-hover);
    cursor: pointer;
    text-decoration: none;
}

.container-historylogsButton {
    background: var(--main-green);
    text-decoration: none;
    color: white;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
    transition: .3s;
    transform: translate(0px, 0px);
    border-radius: 3px;
    padding: 10px;
    border: 1px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    margin-left: 10px;
    float: right;
    text-align: center;


}

.container-historylogsButton:hover {
    box-shadow: 0px 8px 15px -10px rgb(125, 125, 125);
    transform: translate(0px, -2px);
    background: var(--green-hover);
    cursor: pointer;
    text-decoration: none;
}

.searchdetails {
    margin-right: 50px;
}

.txt_field .inputtxt {

    border-radius: 6px;
    padding: 7px 30px 7px 20px;
    font-size: 15px;
    background-color: transparent;
    color: #000;
    text-decoration: none;
    border: 2px solid #4f6f52;
    transition: background-color 0.3s ease;
    margin-left: 30px;
    float: left;
    cursor: pointer;
}

// .add-btn {
//     padding: 10px 13px 10px 13px;
//     font-weight: 600;
//     border: none;
//     background-color: #4f6f52;
//     color: #fff;
//     text-decoration: none;
//     border-radius: 10px;
//     cursor: pointer;
//   }

//   .add-btn:hover {
//     background-color: var(--green-hover);
//   }

.form-control {
    background-color: white;
    border-radius: 10px;
    border: 1px;
    padding: 10px;
    float: right;
    font-weight: bold;
    color: black;
    border: 2px solid #4f6f52;
    background-color: transparent;
    margin-right: -350px;
}



.container {
    border-radius: 5px;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
    background: #F4F4F4;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    border: 0.5px solid #BFBFBF;
}

.table-content {
    border-radius: 5px;
    // border: 1px solid var(--table-border);
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
}

table,
th,
td {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    transition: all 0.3s ease-in;
}

th {
    background-color: #4F6F52;
    font-weight: bold;
    color: #ddd;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: 1385px;
    /* Adjust width as needed */
}

h1,
h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: right;
    font-weight: bolder;
    color: #415b44;
    margin-top: 20px;
  }
  .pagination i {
    cursor: pointer;
  }
  .pagination p {
    margin: 0 30px;
  }
  .pagination .kaliwa{
    margin-right: 40px;
  }
  .edit-btn {
    padding: 4px;
    margin-right: 2px;
    cursor: pointer;
    border: none;
    background-color: #4f6f52;
    color: #fff;
    border-radius: 3px;
  }
  
  .archive-btn {
    padding: 4px;
    margin-right: 2px;
    cursor: pointer;
    border: none;
    background-color: #AB0E0E;
    color: #fff;
    border-radius: 3px;
  }
  
  .edit-btn:hover {
    background-color: #376448;
  }
  
  .archive-btn:hover {
    background-color: #900C0C;
  }
  
// .pagination {
//     display: flex;
//     justify-content: left;
//     align-items: center;
//     margin-top: 20px;

//     button {
//         padding: 8px 16px;
//         border: 1px solid #ccc;
//         background-color: #4f6f52;
//         color: #333;
//         cursor: pointer;
//         transition: background-color 0.3s, color 0.3s;
//         margin: 0 5px;
//         border-radius: 4px;
//         outline: none;
//         color: white;

//         &:hover {
//             background-color: #298f55;
//             color: #fff;
//         }

//         &:disabled {
//             cursor: not-allowed;
//             opacity: 0.5;
//         }
//     }

//     span {
//         padding: 8px 16px;
//         border: 1px solid #ccc;
//         background-color: #f2f2f2;
//         color: #333;
//         margin: 0 5px;
//         border-radius: 4px;
//     }
// }