<div class="tab-content">
    <div class="materialcontainer">
            <!-- button -->
            <div class="row">
                <div class="rowbuttons">
                 <div class="col-md-5">
                    <div class="detailsheader">
                        <!-- add button -->
                        <button class="add-btn" type="button"(click)="onAddNewBtnClick()"> ADD LOCATION </button> 
                    </div>
                </div>    
            </div>
        </div>
    </div>           
</div>
<div class="container">
    <table>
        <thead>
            <tr>
                <th>Location</th>
                <th>Full Location</th>
                <th>Date Added</th>
                <!--  <th>Category</th>
                <th>Location</th>
                <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let location of locations">
                <td> {{ location.location }} </td>
                <td> {{ location.full_location }} </td>
                <td> {{ location.created_at | date:'MM/dd/yyyy' }} </td>
            <!--      <td>Books</td>
                <td>Fil</td>
                - <td>
                    <button class="edit-btn" type="button"(click)="onEditBtnClick()"> <i class="fa-solid fa-edit"> </i></button>
                    <button class="archive-btn" type="button"(click)="onAddNewBtnClick()"> <i class="fa-solid fa-archive"> </i></button>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>

