<div class="tab-content">
    <div class="materialcontainer">
            <!-- button -->
            <div class="row">
                <div class="rowbuttons">
                 <div class="col-md-5">
                    <div class="detailsheader">
                       <!-- <div class="col-md-4">
                            <button class="btn btn-block btn-icon" [routerLink]="['books']" routerLinkActive="active">Books</button>
                        </div>                                    
                        <div class="col-md-4">
                            <button class="btn btn-block btn-icon" [routerLink]="['article']"routerLinkActive="router-link-active"> Article</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-block btn-icon" [routerLink]="['periodical']"routerLinkActive="router-link-active"> Periodical</button>
                        </div>
                    </div> -->
                    <div class="txt_field">
                        <select class="inputtxt" id="language" name="language" required>
                            <option value="ccs"> ALL CATEGORY </option>
                            <option value="ccs"> BOOKS </option>
                            <option value="cba"> ARTICLE </option>
                            <option value="cahs"> PERIODICAL </option>
                          
                        </select>

                        <div class="txt_field">
                            <select class="inputtxt" id="language" name="language" required>
                                <option value="English"> ALL LOCATION </option>
                                <option value="Tagalog"> FOR </option>
                                <option value="Tagalog"> MED </option>
                                <option value="Tagalog"> FIL </option>
                         
                            </select>
                             <!-- Search bar-->
                            <div class="searchdetails">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                                   
                        </div>
                        <!-- add button -->
                      <!---  <button class="add-btn" type="button"(click)="onAddNewBtnClick()"> <i class="fa-solid fa-add"> </i></button> -->
                        
          
                     </div>
               
                    

                </div>
                
                </div>
            
            </div>
        </div>           
    </div>
        <div class="container">
            <div class="detailsbody">
                <div class="details">
                    <form>
                          
                           <div class="txtheader">
                            <h1>Category</h1>
                           </div> 
                          <div class="txt_field1">
                            <select class="inputtxt1" type="text1" placeholder="Category" required >
                                <option value="" selected disabled hidden>Select Category</option>
                                <option>Books</option>
                                <option>Article</option> 
                                <option>Periodical</option>
                            </select>
                                
                            <span></span>
                            
                          </div>

                          <div class="txtheader">
                            <h1>Location</h1>
                           </div> 
                           <div class="row">
                            <div class="column">
                
                        <div class="txt_field2">
                            
                            <input type="text2" id="course1" name="course1" placeholder="Enter location">
                            <span></span>
                        </div>
                        <div class="txt_field2"> 
                            
                            <input type="text2" id="course2" name="course2" placeholder="Enter location">
                            <span></span>
                        </div>
                        <div class="txt_field2">
                            
                            <input type="text2" id="course3" name="course3" placeholder="Enter location">
                            <span></span>
                        </div>
                        </div>
                        </div>
                        
                
                        <div class="button-container">
                            <button class="clear-btn"> Clear </button>
                            <button class="update-btn" value=""> Add </button>
                              
        </div>     
    