<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER - TITLE -->
                <div class="detailsheader">
                    <h1> Edit Patron</h1>
                </div>
                
                <!-- BODY - DETAILS -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-body">
                          <form>
                            
                            
                            <div class="txt_field">
                              <select class="inputtxt" id="language" name="language" required>
                                  <option value="English"> Admin/Staff </option>
                                  <option value="Tagalog"> Faculty </option>
                                  <option value="Tagalog"> Student </option>
                              </select>
                              <span></span>
                              <label class="labelline" for="language"> Patron Type </label>
                          </div>
  
                            <div class="txt_field">
                              <input class="inputtxt" type="text" required>
                              <span></span>
                              <div class="labelline">[Price Here]</div>
                            </div>
                            <div class="txt_field">
                              <input class="inputtxt" type="text" required>
                              <span></span>
                              <div class="labelline">Days</div>
                            </div>
                            <div class="txt_field1">
                              <div class="labelline1">No. Of Days/Hours Allowed</div>
                              <input class="inputtxt" type="text" required value="10 days" readonly>
                              <span></span>
                              
                            </div>
                            <div class="txt_field1">
                              <div class="labelline1">No. Of Materials Allowed</div>
                              <input class="inputtxt" type="text" required value="3" readonly>
                              <span></span>
                              
                            </div>
  
  
                            
                                
                            
                          </form>
                        </div>
                        <div class="button-container">
                          <button  (click)="closepopup()" class="cancel-btn">Cancel</button>
                            <button  class="add-btn">Save</button>
                            
                           
                            
                          </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>