<main>
  <div class="container">
      <div class="content">
          <div class="details-content">
              <!-- HEADER - TITLE -->
              <div class="detailsheader">
                  <h1>Edit Announcement</h1>
              </div>
              
              <!-- BODY - DETAILS -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-body">
                        <form>
                          
                            
                          <div class="row">
                            <div class="Title">
                              <label for="Title">Title: </label>
                              <input type="text" class="form-control" placeholder="Title">
                            </div>
                          </div>

                          <div class="row">
                              <div class="Category">
                                <label for="Category">Category: </label>
                                <input type="text" class="form-control" placeholder="Category">
                              </div>
                            </div>

                          <div class="row">
                            <div class="col-md-6">
                              <label for="date">Date: </label>
                              <input type="date" class="form-control">
                              </div>
                            </div>
                           
                            <div class="row">
                              <div class="txt_field"> 
                                <label for="file">Upload Image: </label>
                                <input class="form-control1"type="file" accept=".jpeg, .png, .jpg" name="image_location"> 
                                <span></span>
                                
                            </div>
                             </div>
                             
                              <div>
                                  <p>Content: </p>
                                  <textarea class="big-text-box" placeholder="Enter Content"></textarea>
                                </div>
                          
                              <div class="button-container">
                                  <button  class="add-btn">Add</button>
                                  <button  (click)="closepopup()" class="cancel-btn">Cancel</button>
                              </div>
                        </form>
                      </div>
                         
      
                        </div>
                    </div>
                  </div>
                </div>
          </div>
      </div>
 
</main>