<main>
    <div class="container">
        <div class="content">
          <div class="details-content">
            <!-- HEADER - TITLE -->
            <div class="detailsheader">
                <h1>Add College</h1>
            </div>
                <!-- BODY - DETAILS -->
                <div class="detailsbody">
                  <div class="details">
                    <div class="detailscontent1">
                        <img [src]=" '/assets/images/GC.png'" alt="/assets/images/GC.png" class="card-image">
                   
                
                        <p style="position: center;">College of Hospitality and Tourism Management</p>  
                    </div>
                    <div id="course">
                    <p>Bachelor of Science in Hospitality Management</p>
                    <p>Bachelor of Science in Tourism Management</p>
                    </div>
                    </div>
                    
                    <div class="button-container">
                        <button  (click)="closepopup()" class="cancel-btn">Close</button>
                       
                        
                      </div>
                </div>
                </div>
                </div>
                </div>
                </main>
