<div class="cards">
    <div class="input-row">
        <div class="card">
            <div class="icon-case1">
                <img src="assets/icons/total_titles.png">
            </div>
            <div class="box1">
                <h1> 23425</h1>
                <h3>Available Books</h3>
            </div>
        </div>

        <div class="card">
            <div class="icon-case2">
                <img src="assets/icons/total_titles.png">
            </div>
            <div class="box">
                <h1> 4420420</h1>
                <h3>Unreturned Books</h3>
            </div>
        </div>
        
        <div class="card">
            <div class="icon-case3">
                <img src="assets/icons/total_journals.png" alt="">
            </div>
            <div class="box">
                <h1> 694420 </h1>
                <h3>Mssing Books</h3>
            </div>
        </div>    

    </div>
