
<div class="cards">
    <div class="input-row">
        <div class="card">
            <div class="icon-case">
                <!-- <img src="assets/icons/total_titles.png"> -->
                <i class="fa-solid fa-file-circle-check"></i>
            </div>
            <div class="box">
                <h1> 23425</h1>
                <h3>Available Books</h3>
            </div>
        </div>

        <div class="card">
            <div class="icon-case">
                <i class="fa-solid fa-file-circle-exclamation"></i>
            </div>
            <div class="box">
                <h1> 4420420</h1>
                <h3>Unreturned Books</h3>
            </div>
        </div>
        
        <div class="card">
            <span class="icon-case">
                <!-- <img src="assets/icons/total_journals.png" alt=""> -->
                <i class="fa-solid fa-circle-exclamation"></i>
            </span>
            <div class="box">
                <h1> 694420 </h1>
                <h3>Missing Books</h3>
            </div>
        </div>    

    </div>
