.header h1 {
    font-size: 50px;
    font-weight: 900;

}

.template {
    margin: 10px 20px 10px 0;
}

.input-row {
    display: flex;
    padding: 0;
    width: 100%;
    // justify-content: space-between;
}

.input-row .card {
    flex-basis: 30%;
}

.input-row .card {
    position: relative;
    margin: 1.3rem 0;

}

.cards .card {
    width: 33%;
    height: 100px;
    background: #31A463;
    color: #fff;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





.card .icon-case {

    // margin-top: 10px;
    margin-left: 30px;
    margin-right: 50px;
    font-size: 50px;
    font-weight: 700;
}


// .cards .card h1 {
//     margin-left: 58px;
//     font-size: 30px;
// }

// .cards .card h3 {
//     margin-left: 40px;
//     font-size: 15px;
//     font-weight: 500;
// }

.cards .card .box {
    float: right;
    font-size: 15px;
    font-weight: 500;
    display: block;
    text-align: center;
    margin-left: 30px;
}



// MIDDLE CARD
.graph1 {
    display: inline-flex;
    width: 100%;
}



// FIRST CARD
.container {
    display: inline-flex;
    margin: 10px;
    height: 400px;
    width: 65%;
    border: solid 1px #31A463;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// TOTAL
.text {
    width: 25%;
}

.text .analytic {
    margin: 10px 20px 20px 20px;
    font-weight: 700;

}

.analytic p {
    font-size: 20px;
}

.analytic h1 {
    font-size: 60px;
    color: #31A463;
}

.visual {
    width: 75%;
    display: inline-block;
}

//VISUAL

//CHART
.visual .chart {

    margin: 65px 10px 10px 10px;
    height: 310px;
    width: 96%;
    border: solid 1px #31A463;
    border-radius: 10px;

}

// FILTER
.visual .filter {
    margin: 10px 20px 20px 20px;
    display: flex;
    float: right;
}

.filter .inputtxt {
    border-radius: 6px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    background-color: #31A463;
    color: #ffff;
    text-decoration: none;
    border: none;


    cursor: pointer;


}

.filter option {
    background-color: #fff; // Option background color
    border: solid 2px #31A463;
    color: #333; // Option text color
    font-weight: 400; // Option font weight
    padding: 15px; // Option padding
    font-size: 20px; // Option font size
    border-radius: 6px;
}



//SECOND CARD
.container2 {
    display: inline-block;
    margin: 10px;
    height: 400px;
    width: 35%;
    border: solid 1px #31A463;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container2 .text1 {
    display: inline-flex;
    width: 100%;
    margin: 10px 20px 20px 20px;

}

//TEXT 2ND CARD

.text1 h3 {
    font-size: 24px;
}

//FILTER 2ND CARD

.text1 .filter1 {
    margin: 0 20px 0 150px;
    display: flex;
    float: right;
}

.filter1 .inputtxt {
    border-radius: 6px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    background-color: #31A463;
    color: #ffff;
    text-decoration: none;
    border: none;


    cursor: pointer;


}

.filter1 option {
    background-color: #fff; // Option background color
    border: solid 2px #31A463;
    color: #333; // Option text color
    font-weight: 400; // Option font weight
    padding: 15px; // Option padding
    font-size: 20px; // Option font size
    border-radius: 6px;
}

//BORROWER CARD
.visual1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Three columns

    grid-template-rows: repeat(5, 1fr); // Two rows
    max-height: 300px; // Set the max-height as needed
    overflow-y: auto; // Enable vertical scrolling if content exceeds max-height
}

.borrower-card {
    display: inline-flex;
    margin: 3px 0 3px 14px;
    height: 70px;
    width: 90%;
    border-radius: 6px;
    background-color: #D9D9D9;
}

.borrower-info {
    margin: 7px;
    align-items: center;
}

.borrower-info h1 {
    font-size: 18px;
    font-weight: 700;
}

.borrower-info p {
    font-size: 13px;
    font-weight: 500;
    color: #3b3b3b;
    margin-bottom: 2px;
}

.borrower-card .board {
    margin-top: 7px;
    margin-left: 8px;
    height: 55px;
    width: 7%;
    background-color: #31A463;
    border-radius: 10px;
}



// LOWER CARD

.graph2 {
    display: inline-flex;
    width: 100%;
}



// FIRST CARD
.graph2 .container3 {
    display: inline-block;
    margin: 10px;
    height: 400px;
    width: 50%;
    border: solid 1px #31A463;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

//HEAD

.text3 {
    display: inline-flex;
}

.text3 h1 {
    margin: 10px 20px 20px 20px;
    font-size: 30px;
    color: #000000;
}

//FILTER BUTTON
.text3 .filter3 {
    margin: 10px 0 20px 210px;
    display: flex;
    float: right;
}

.filter3 .inputtxt {
    border-radius: 6px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    background-color: #31A463;
    color: #ffff;
    text-decoration: none;
    border: none;


    cursor: pointer;


}

.filter3 option {
    background-color: #fff; // Option background color
    border: solid 2px #31A463;
    color: #333; // Option text color
    font-weight: 400; // Option font weight
    padding: 15px; // Option padding
    font-size: 20px; // Option font size
    border-radius: 6px;
}



//CHART

.visual3 .chart3 {

    margin: 0 5px 10px 15px;
    height: 310px;
    width: 96%;
    border: solid 1px #31A463;
    border-radius: 10px;

}

.graph2 .container4 {
    display: inline-block;
    margin: 10px;
    height: 400px;
    width: 50%;
    border: solid 1px #31A463;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

//HEAD

.text4 {
    display: inline-flex;
}

.text4 h1 {
    margin: 10px 20px 20px 20px;
    font-size: 30px;
    color: #000000;
}

//FILTER BUTTON
.text4 .filter4 {
    margin: 10px 0 20px 50px;
    display: flex;
    float: right;
}

.filter4 .inputtxt {
    border-radius: 6px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    background-color: #31A463;
    color: #ffff;
    text-decoration: none;
    border: none;


    cursor: pointer;


}

.filter4 option {
    background-color: #fff; // Option background color
    border: solid 2px #31A463;
    color: #333; // Option text color
    font-weight: 400; // Option font weight
    padding: 15px; // Option padding
    font-size: 20px; // Option font size
    border-radius: 6px;
}



//CHART

.visual4 .chart4 {

    margin: 0 5px 10px 15px;
    height: 310px;
    width: 96%;
    border: solid 1px #31A463;
    border-radius: 10px;

}