<main>
  <div class="container">
      <div class="content">
        <div class="details-content">
          <!-- HEADER - TITLE -->
          <div class="detailsheader">
              <h1> Add Location</h1>
          </div>
              <!-- BODY - DETAILS -->
              <div class="detailsbody">
                <div class="details">
                    <form>
                          
                            
                          
                          <div class="txt_field">
                            <input class="inputtxt" type="text" required>
                            <span></span>
                            <div class="labelline">Location 1</div>
                          </div>

                          <div class="txt_field">
                            <input class="inputtxt" type="text" required>
                            <span></span>
                            <div class="labelline">Location 2</div>
                          </div>
                          <div class="txt_field">
                            <input class="inputtxt" type="text" required>
                            <span></span>
                            <div class="labelline">Location 3</div>
                          </div>

                          
                          

                            <!-- <div class="txt_field1">
                              <div class="labelline1">Edit Image</div>
                              <span></span>
                              <input type="file" accept=".jpeg, .png, .jpg" name="image_location"> 
                              
                              
                           
                          
                              <div class="txt_field">
                              <select class="inputtxt" id="language" name="language" required>
                                  <option value="English"> Maintenace </option>
                                  <option value="Tagalog"> Locker </option>
                                  <option value="Tagalog"> Cataloging </option>
                                  <option value="Tagalog"> Circulation </option>
                              </select>
                              <span></span>
                              <label class="labelline" for="language"> Access </label>
                          </div>-->
                        
                          
                        </form>
                      </div> 
                      <div class="button-container">
                        
                        <button class="update-btn" (click)="updateBox()"> Add </button>
                        <button  (click)="closepopup()" class="cancel-btn">Cancel</button>
                          
                          
                         
                          </div>
                        
                        </div>
                    </div>
                  </div>
                </div>
</main>